[2015-10-27 19:39] prescottprue opened #1 "Loader needed for Webpack"
When attempting to use with Webpack, I get the following error:

<img width="833" alt="screen shot 2015-10-27 at 3 39 36 pm" src="https://cloud.githubusercontent.com/assets/2992224/10770291/df6d339c-7cc0-11e5-8617-8f25c931f258.png">

It seems to be due to not having a loader of some type, but it might be good to include that in the documentation. I am going to experiment with some css/style loader

[2015-10-27 19:41] gorangajic commented on #1
Do you use babel-loader?

[2015-10-27 19:45] prescottprue commented on #1
Realizing that is what is probably is due to it erroring on the export. Did I miss that being a requirement somewhere in the docs or is it not in there?

[2015-10-27 20:32] prescottprue opened #2 "Include Octicons"
It would be nice to also include Github's Octicons, but just a suggestion.

[2015-10-28 02:38] KyleAMathews commented on #1
:+1: to a pre-transpiled version

[2015-10-28 02:44] KyleAMathews opened #3 "Add link to docs site to header"
It was hard to find down in the README.md

Btw, so glad you did this! [I've been hoping for a while someone would take this on :)](https://github.com/KyleAMathews/react-icon-factory#future-work)

[2015-10-28 08:30] gorangajic commented on #1
I have added last night transformed version in /lib and it's on npm. Just need to update docs

[2015-10-28 09:22] gorangajic commented on #3
Thank you.
https://i.imgur.com/SMYdBup.png

[2015-10-28 09:22] #3 closed

[2015-10-28 09:25] gorangajic commented on #1
@prescottprue that is also fixed in the new version I was using stateless function components so it was needed to React be global, now it's ussing classes

[2015-10-28 09:31] gorangajic commented on #1
https://github.com/gorangajic/react-icons/commit/321f37b2e4ac112eb4c7230a8aaa6e90ee15aaae

[2015-10-28 09:31] #1 closed

[2015-10-28 09:47] gorangajic commented on #2
Sure http://gorangajic.github.io/react-icons/go.html

https://github.com/gorangajic/react-icons/commit/33d6bd00adc68ad977dc7efb2e59384c493360d1

[2015-10-28 09:47] #2 closed

[2015-10-28 15:32] prescottprue commented on #1
Awesome, thanks for fixing it so fast!

[2015-10-29 03:32] bsr203 opened #4 "Issue with importing icons"
Hi,
I could be terribly overlooking something, but none of the import method in the doc didn't work for me.

1. import FaBeer from 'react-icons/fa/FaBeer';

[code]

2.     import {MdCancel, MdChat, MdCheck} from 'react-icons/md';

./~/react-icons/md.js
23:05:17 f +0ms      Module parse failed: /Users/bsr/testclient/node_modules/react-icons/md.js Line 1: Unexpected token
23:05:17 f +0ms      You ma

[2015-10-29 09:15] gorangajic commented on #4
can you try now I have updated ```"main"```` to point to lib/icons and added ```"jsnext:main"``` to point to es6 module

by [default](http://babeljs.io/docs/usage/require/#usage) babel ignore ```node_modules``` so if you don't want to change that settings you will need to use files from the ```./lib```

```dist``` folder is removed I have been testing something and it was published by accident

[2015-10-29 09:15] #4 closed

[2015-10-29 11:29] bsr203 commented on #4
thanks.. it works.. to import one icon from lib, the following works

`import Mail from 'react-icons/lib/md/mail'` or ``import MdMail from 'react-icons'`

[2015-11-24 15:12] jsierles opened #6 "Icons seem deformed"
Here's a screenshot. See how the circles are deformed? What could cause this?

http://d.pr/i/XBAY

[2015-11-25 08:31] gorangajic commented on #6
they are scaled maybe that is the problem I will try to fix it by using larger viewBox

[2015-11-25 16:48] jsierles commented on #6
I'm just using the 'size' property. Is that what you mean by 'scaled'?

[2015-11-25 20:15] gorangajic commented on #6
I have resized them so they all have the same size for [react-svg-morph](https://github.com/gorangajic/react-svg-morph) but apparently they got deformed in the process. Will try to find some time tomorrow and fix it

[2015-11-25 20:16] jsierles commented on #6
Cool. thanks for the update!

[2015-11-26 15:25] bsr203 opened #7 "color / theme"
Hi,

It was easy to change the color of webfont, for example the font color of a primary button was white in twitter bootstrap and the font follows the same. How to do the same with an svg icon? your expertise and a example would help :-)

https://github.com/google/material-design-icons/issues/58
http://stackoverflow.com/questions/26892628/set-background-color-of-svg-material-design-icons
http://s

[2015-11-27 20:19] Prinzhorn commented on #7
my pull request just landed https://github.com/gorangajic/react-icon-base/pull/1 so this should soon work with react-icons as well

[2015-11-27 20:43] bsr203 commented on #7
@Prinzhorn cool.. didn't know that it is that easy.. thanks.

[2015-11-27 20:43] #7 closed

[2015-12-03 20:24] jsierles commented on #6
Can I help with this issue

[2015-12-03 22:11] gorangajic commented on #6
sorry @jsierles forget about this. Are only Font Awesome icons deformed or just that one? I have update them so can you check now?

```npm install react-icons@0.3.0```

process for this goes something like this

- used [svg-caster](https://github.com/icons8/svg-caster/) to export svg from the webfont

```svg-caster --svg-font fontawesome-webfont.svg --svg-font-css ../css/font-awesome.css --out-svg

[2015-12-03 23:15] #6 closed

[2015-12-03 23:16] gorangajic commented on #6
svg-scaler deformed icons by rounding path
https://github.com/morlay/svg-scaler/blob/master/lib/SVGTranslator.js#L125

[2015-12-04 03:14] tnrich opened #8 "Helper components to turn them into buttons"
Hey there, I think it'd be nice if there were a helper component to turn these suckers into nicely formed buttons. I'm not sure if people already have something they're already using, so I thought I'd ask.

Something like this was what I was thinking:
[code]

[2015-12-04 07:43] Prinzhorn commented on #8
What would the benefit be? Don't you want the buttons to match the design of the rest of the app? Your app likely already has a button component.

I personally think it's out of scope for react-icons, because it does one thing and does it well, which is inlining SVG icons as unopinionated as possible.

[2015-12-04 09:26] #8 closed

[2015-12-04 09:36] tnrich commented on #8
Sounds good, I was mostly looking for already built buttons that work well with your svg set as the default browser <button/> element didn't work very well with it. One I found is this: https://github.com/zippyui/react-button. You could potentially link to it, or just having this issue would probably be enough to point others toward those buttons. I'd still be interested in seeing other button set

[2015-12-04 09:52] tnrich commented on #7
@Prinzhorn would you mind giving a bit more of a description of what exactly needs to be done to style the icons with a given color?

[2015-12-04 10:00] Prinzhorn commented on #8
Now I'm curious. I've set up a demo project with this simple code (no CSS at all)

[code]

Here are Screenshots of Chromium and Firefox (on Ubuntu, but I assume native buttons on other platforms work equally well).

![screenshot from 2015-12-04 10 57 21](https://cloud.githubusercontent.com/assets/679144/11586862/2a81c032-9a76-11e5-8803-be51a57504b1.png)
![screenshot from 2015-12-04 10 57 29](https

[2015-12-04 10:03] Prinzhorn commented on #7
With the latest version they simply use the same color as the text. So if your have a `color:` declaration for the wrapper element (like `<button>` or `<span>`) or any parent then the icon uses the same color as the text.

You can still overwrite this using the `fill` prop

[2015-12-04 10:05] tnrich commented on #7
hmm neither of those are quite working for me.. Could I be on an older version?

[2015-12-04 10:05] Prinzhorn commented on #7
This commit broke it https://github.com/gorangajic/react-icons/commit/9ee354c2461d9986191f885a82ff3d27e599b370

[2015-12-04 10:07] Prinzhorn commented on #7
Check out 0.3.1 to see how its supposed to work

[2015-12-04 10:10] Prinzhorn opened #9 "Regression, fill prop is ignored"
Commit https://github.com/gorangajic/react-icons/commit/9ee354c2461d9986191f885a82ff3d27e599b370 introduced a `fill` attribute on most path elements which means using the `fill` prop on the component does not work anymore.

[2015-12-04 10:10] tnrich commented on #7
Oh, interesting. So for the time being I can go back a few versions until it's fixed? Thanks for the help too btw :+1:

[2015-12-04 10:28] Prinzhorn commented on #7
Kind of. What you don't get is icons which scale to the size of the text, you need to set the `size` prop to `1em` manually if you want that. But you get the color thing.

[2015-12-04 10:31] tnrich commented on #8
For me it was when I tried to make a circular button using border-radius: '50%' that things got a little wonky.

But that probably could have been solved without going to another library. But using another lib worked so I went with that.

[2015-12-04 10:32] tnrich commented on #9
:+1:

[2015-12-04 10:36] gorangajic commented on #9
https://github.com/gorangajic/react-icons/commit/494eac504afa6fe7ccf5af4fd1c1512b2b5b315f

[2015-12-04 10:36] #9 closed

[2015-12-04 10:42] Prinzhorn commented on #9
Thank you! Works great again.

[2015-12-04 10:44] gorangajic commented on #9
Thank you for help

[2015-12-04 10:44] tnrich commented on #9
Thanks!

On Fri, Dec 4, 2015 at 2:42 AM Alexander Prinzhorn <notifications@github.com>
wrote:

[2015-12-04 11:09] Prinzhorn opened #10 "Some fontawesome icons are broken / don't fit their viewport"
Correct: https://github.com/gorangajic/react-icons/blob/323e5568347abb61323f75f70e63c346603a263e/icons/fa/repeat.svg

Incorrect: https://github.com/gorangajic/react-icons/blob/323e5568347abb61323f75f70e63c346603a263e/icons/fa/undo.svg
Also incorrect: https://github.com/gorangajic/react-icons/blob/323e5568347abb61323f75f70e63c346603a263e/icons/fa/gear.svg

I don't know how you pull these SVGs in an

[2015-12-04 11:54] gorangajic commented on #10
some icons in font awesome have more than one, thats why we had broken old icons that were duplicated.

for example
repeat => rotate-right
undo => rotate-left
gear => cog

Now they are removed https://github.com/gorangajic/react-icons/commit/2a3f1bfae88f3e35e24c665ccea8a22d80626f63

[2015-12-04 11:54] #10 closed

[2015-12-04 11:59] Prinzhorn commented on #10
I see. How did you decide which ones to keep? E.g. `undo` is the official name an `rotate-left` the alias, but you kept `rotate-left`. http://fontawesome.io/icon/undo/

Is your whole process automated? If so, can't we support aliases? Like `module.exports = require('./undo.js');` inside the `rotate-left.js`?

[2015-12-04 12:21] gorangajic commented on #10
it's not all automated, it's look like it took first icon that come in alphabetical order.

At first I was using [svg-caster](https://github.com/icons8/svg-caster) to get svg icons from the font file, now I use https://icomoon.io/ because I thought that svg-caster was broken  #6

[2015-12-07 09:21] Prinzhorn opened #11 "Automation"
There should be a single command which does:
1. Fetch the latest font from each repository (md, fa, etc.)
2. Extract the SVGs
3. Transform the SVGs (e.g. normalize the size and remove fill property from paths) and create the react components from it

Without automation everything is too fragile. For example as far as I understand you removed the `fill=#444` manually? What happens with the next upd

[2015-12-07 09:21] Prinzhorn commented on #10
But now 1.0.3 is a breaking change, because some people (including me) already use fa icons which are now removed. We should keep them and automate everything. Discussion here: #11

[2015-12-07 09:24] gorangajic commented on #10
:+1:

[2015-12-07 09:25] Prinzhorn commented on #11
Also: the icons shouldn't be squares but keep the size of the original font. Given fa-bolt as an example (http://fontawesome.io/icon/bolt/) this is how it looks like as a font

![fa-bolt](https://cloud.githubusercontent.com/assets/679144/11623345/9116f5b2-9ccc-11e5-849a-9e9e8f843b10.png)

If it would be square (with space on the left/right) it would look different next to text.

I'll take a look a

[2015-12-07 09:29] gorangajic commented on #11
I have scaled them because [react-svg-morph](https://github.com/gorangajic/) so they are animated nicely, maybe we can keep the same height and ignore width ?

[2015-12-07 09:33] gorangajic commented on #11
btw I am currently busy so can't start on this right now, if you want to work on this and have questions just ask

[2015-12-07 09:52] Prinzhorn commented on #11
I didn't know about react-svg-morph and that's really unfortunate. Does it require the same width/height/viewBox for both svgs? If so, then that's not compatible with my plans. But in order for react-icons to be a replacement for icon fonts we need the correct sizes.

That could work. Looks like with icon fonts they always have the same height but different widths. Compare fa-bolt from above with

[2015-12-07 11:25] Prinzhorn commented on #11
First of all: not touching the svg (e.g. scaling the path) works. Also in combination with only setting the height.

Example (fa-rotate-left) http://jsbin.com/gusowuxiye/edit?html,output

[code]

This means we basically just need to drop `width` from react-icon-base.

I created a `pull-icons` script which I ran before create.js. It's currently fa only, but it makes it fully automated.

[code]

Now

[2015-12-08 14:41] jadedevin13 opened #12 "Installation error"
I'm using **jspm** and the command I issued is
[code]
[code]

[2015-12-08 15:20] jadedevin13 commented on #12
I realize this is issue is not about the package react-icons but npm as the package manager.

BTW

I just came back to solve it on my own by a handful of commands.
[code]
This didn't solve the issue. I have to edit the */etc/security/limits.conf* file and add the following
[code]

[2015-12-08 16:29] gorangajic commented on #12
closing because it's not related to react-icons, it's probably something wrong with `jspm`

[2015-12-08 16:29] #12 closed

[2016-02-08 20:01] rblakeley opened #17 "Include Ionicon"
It would be really nice to have the [Ionicon](http://ionicons.com/) set in this library.

I believe I added the proper source files in #13.

[2016-02-13 18:11] iDVB opened #18 "'SVGElement.offsetWidth' is deprecated"
Anyone getting this error in chrome?

`'SVGElement.offsetWidth' is deprecated and will be removed in M50, around April 2016. See https://www.chromestatus.com/features/5724912467574784 for more details.`

[2016-02-17 19:44] maxekman commented on #17
I would also like to see this merged.

[2016-02-17 20:21] gorangajic commented on #17
Sorry guys was busy with some stuff and I wanted to solve #11 before adding new icon set, so everything can be more automated.

If no one else tackle this I will try to do it over the weekend

[2016-02-27 13:30] Secretmapper commented on #17
+1

[2016-03-02 11:30] leesdolphin opened #19 "Set Baseline for icons"
The GitHub Octicons have a baseline slightly below centre and this causes them to display slightly off when rendered through react-icons. I don't have any time at the moment to throw together a JSFiddle; but I'll try and make one tomorrow.

The GitHub Octicons have a baseline set at `-18.75%`(Taken from the descent divided by 1024 in the [Octicons SVG](https://github.com/github/octicons/blob/maste

[2016-03-08 16:16] tgoldenberg opened #20 "change color on hover"
Hi, I am using Radium to add `:hover` styles, but when I add a new color on hover, it doesn't appear. Any idea how I can achieve this effect? Thanks!

[2016-03-08 16:29] tgoldenberg commented on #20
Ended up refactoring the button to a separate component with a `hover` state that modifies the color, but wondering if there's any easier way to do this...

[2016-03-08 17:02] Prinzhorn commented on #20
Can you share some code? Did you try changing `fill` and well as `color`? Not sure to which element radium adds the style. If it's the parent of the <svg> then `color` is the correct property. When manipulating the <svg> directly then `fill` needs to be changed.

[2016-03-08 18:25] tgoldenberg commented on #20
okay, I got it to work with a `hover` state, but I'll give it a try this way too. Thanks

[2016-03-08 18:25] #20 closed

[2016-03-11 19:11] mrberggg opened #21 "Wrap in div with class"
Would be great if each icon would be wrapped in a div with a class, e.g. .react-icon, so that global icon styles could be applied. Unless I'm missing something obvious, you currently have to either have global svg styles or separate styles for each usage.

[2016-03-11 19:22] gorangajic commented on #21
I think that you can pass `className` for example <Icon className="react-icon" />

[2016-03-11 19:59] mrberggg commented on #21
@gorangajic Ok but wouldn't it be nice to have project-wide styles? E.g. setting a default icon color?

[2016-04-08 20:27] wiktor256 opened #22 "Add support for React 15.0.x"

[2016-04-11 12:53] nasushkov opened #24 "Babel 6 support"
Hi

I'm having an issue with Babel 6:

I think it's due to old Babel 5 syntax in .babelrc for react-icons. Does anybody know a workaround for this? And also is this module still actively supported?

[2016-04-11 18:58] nasushkov commented on #24
I see that Babel 6 already supported. The problem was in caching of the previous version, maybe because the version number didn't change after the commit.

[2016-04-11 18:58] #24 closed

[2016-04-13 14:48] felipeleusin opened #26 "FontAwesome times icon missing"
After the update to 1.0.5 the FontAwesome times icon went missing. I've tried fixing but can't seem to build the project getting a maximum calls stack exceeded.

http://fortawesome.github.io/Font-Awesome/icon/times/

[2016-04-13 15:28] andreypopp opened #27 "1.0.5 broke our build"
After you updated babel to version 6 and released `1.0.5` we had our builds broken, because we consumed icons like this:
[code]
now it should be:
[code]

The fix would be to add https://www.npmjs.com/package/babel-plugin-add-module-exports plugin to the build config and release a new patch version.

[2016-04-13 15:57] #22 closed

[2016-04-13 15:58] gorangajic commented on #18
maybe it's some other lib because we are not accessing offsetWidth anywhere

[2016-04-13 15:58] #18 closed

[2016-04-13 16:03] gorangajic commented on #27
can you try now?

[2016-04-13 16:05] gorangajic commented on #26
Sorry, but some icons have aliases and some icons are named by their alias instead of their real name
that icon in react-icons is called `close`

[2016-04-13 16:05] #26 closed

[2016-04-13 16:05] #27 closed

[2016-04-13 16:24] felipeleusin commented on #26
Ah thanks! My bad!

[2016-04-13 17:35] andreypopp commented on #27
Awesome, thanks!

[2016-04-14 14:02] indeyets opened #28 "Icons are missing from lib/"
We used to manually include icons from `lib/` folder as described in readme, but 1.0.6 has less icons than 1.0.3 had. Probably a build issue.

specifically, we need `react-icons/lib/md/favorite-border`

[2016-04-14 15:28] gorangajic commented on #28
I have added them back in 2.0.0

[2016-04-14 15:28] #28 closed

[2016-04-14 15:29] gorangajic commented on #17
They are added now

[2016-04-14 15:29] #17 closed

[2016-04-15 16:00] ezekg opened #29 "Material Design: open-in-browser and open-in-new only work with underscores"
The Material Design icons `open-in-browser` and `open-in-new` do not display unless called like `open-in_browser` and `open-in_new`, respectively. There are duplicated files for each of those in [the Material Design icon directory](https://github.com/gorangajic/react-icons/tree/master/md). Is there a reason for this? Can we standardize the way icons are named, so that they always use kebab-case as

[2016-04-15 19:33] elado opened #30 "Hard coded fill="#444" in icons"
https://github.com/gorangajic/react-icons/commit/e318058c0d4553ddf8f3bbdabcdbc414350f861a introduced `fill="#444"` in all icons. This prevents coloring with `currentColor`.

[2016-04-15 22:56] tnrich commented on #28
There still seems to be some missing icons in 2.0

Specifically I'm not able to find:
`lib/go/input-checked`

Thanks!

[2016-04-16 10:54] ivoanastacio commented on #30
+1

[2016-04-16 14:31] Prinzhorn commented on #30
This happened before in #9. I think this process needs to be automated to prevent this in the future.

[2016-04-18 08:05] gorangajic commented on #30
sorry guys my bad this is now fixed in v2.0.1 06f5476

[2016-04-18 08:05] #30 closed

[2016-04-18 08:06] gorangajic commented on #29
Thank you, it's fixed now in v2.0.1

[2016-04-18 08:06] #29 closed

[2016-04-18 09:15] Wasseing opened #31 "Can't set the fill color"
Nice to use, except that it would be nice to be able to set the fill color of the icon.

[2016-04-18 09:32] gorangajic commented on #31
did you try 2.0.1? There was a bug in 2.0.0

[2016-04-18 12:10] #31 closed

[2016-04-21 23:42] ezekg commented on #21
I would go for a `<span>` if you do implement this, because a `<div>` can't be nested under `<p>` tags. To solve this issue, I usually just create an `<Icon />` component that is essentially just wrapping the icon in a `<span>` so that I can apply the classes I need, just as a reference to what @gorangajic is talking about.

[code]

Use like,

[code]

[2016-04-28 16:40] Prinzhorn opened #33 "Missing fa icons"
I updated to react 15 and react-icons 2. The following are missing now.

[code]

[2016-04-28 17:58] gorangajic commented on #33
Some icons have aliases, it's the same icon just different name

`times` => `close`
`link` => `chain`
`gear` => `cog`
`undo` => `rotate-left`

[2016-04-28 17:58] #33 closed

[2016-04-28 18:06] Prinzhorn commented on #33
Thanks! Hm, yeah. We had that discussion before. But `chain` is an alias for `link`. Not the other way round. Also I still think react-icons should alias them as well then. Otherwise it's a guessing game.

[2016-04-29 09:33] codetony25 opened #34 "How to appropriately create a loader in webpack?"
Right now this is the loader i'm using in my webpack:

[code]

with config.iconPath pointing to my "node_modules/react-icons" path.

This all works, however currently every time I start my localhost dev, it takes around 8-10 seconds for it to finally be viewable in the browser. Is this normal? Or am I doing this wrong? Thank you!

[2016-05-03 15:39] mvaivre commented on #21
@ezekg I try to do exactly the same as you, and I've a crazy error. Here is my code.

[code]

String interpolation with the icon name gives me `Cannot find module 'react-icons/lib/md/save'`

If I hardcode the path `react-icons/lib/md/save` without string interpolation, it works.

Did you get this king of problem before?

[2016-05-03 16:13] ezekg commented on #21
I'm not entirely sure. I'm doing that in an Electron app, so maybe Node behaves differently inside of it.

[2016-05-03 19:05] Prinzhorn commented on #21
@mvaivre `require` are resolved at compile time (e.g. when you run browserify/webpack, not when the code is run in the browser). They can't be dynamic as far as I know.

[2016-05-04 06:30] mvaivre commented on #21
@ezekg: Ah, you're using electron! @Prinzhorn Right, of course. Thank you both for your answers.
So, it's seems hard to create a component like mine, that only takes the icon name to "dynamically" render an icon? Or do you have another solution to achieve that?

[2016-05-04 06:55] Prinzhorn commented on #21
@mvaivre create a `icons.js` which exports all icons you know you will need

[code]

and in your component

[code]

[2016-05-04 07:27] mvaivre commented on #21
@Prinzhorn Alright, this needs a bit more work than expected, but that works! Thanks for your reactivity!

[2016-05-14 18:36] jsierles commented on #34
I also see this load time. Probably because there are lots of small files that all need to be transformed when you require a full icon set?

[2016-05-14 19:42] gorangajic commented on #34
You should include every icon separately. This module is created with that in mind so user of your app only gets what is needed

[2016-05-25 13:31] gorangajic commented on #21
I have just merged https://github.com/gorangajic/react-icon-base/pull/6 you can use `context` to style icons

[2016-05-25 13:31] #21 closed

[2016-06-13 20:51] oscar-b opened #39 "fa/check-square-o and fa/square-o misalignment"
I tried using fa/check-square-o and fa/square-o for a form checkbox, but they don't align properly. Try the html below to see it.

[code]

![image](https://cloud.githubusercontent.com/assets/85102/16022679/5c2633fe-31b9-11e6-8057-1c659f8746b4.png)

[2016-06-22 16:18] suhaotian opened #40 "add icomoon icon"
see https://medium.com/@david.gilbertson/i-hadnt-heard-of-those-looks-like-a-nice-neat-package-69ef4b8614#.7hx0hiu2v

[2016-06-22 23:03] sammkj opened #41 "Unable to set individual icon color if reactIconBase context is set."
I have the following context:

[code]

and the following icon color doesn't display correctly:

[code]

Screenshots:
![image](https://cloud.githubusercontent.com/assets/9153498/16286631/5dafa5fc-38a3-11e6-8bf6-1727e10c9664.png)

![image](https://cloud.githubusercontent.com/assets/9153498/16286650/78eecc4e-38a3-11e6-9a6b-5dc302a3b6eb.png)

![image](https://cloud.githubusercontent.com/assets/9153498

[2016-06-30 09:43] zaygraveyard opened #42 "Question: Is this project still maintained?"
Thank you for this is a great library.
But it seams to me that this project is not being maintained anymore

If it's the case then a search for a new maintainer might be the best option.

[2016-06-30 09:45] gorangajic commented on #42
I am a bit busy and currently do not use project that much myself, if someone want to help I am more than happy to give access

[2016-07-04 11:39] OlivierCo opened #43 "React 15.2.0 - Unknown prop `fit` on <svg> tag"
Hi,

Just updated react to 15.2 and noticed this warning.

[code]

[2016-07-05 02:17] suhaotian commented on #43
:+1:

[2016-07-05 23:16] planttheidea commented on #43
React 15.2 throws this warning now on all non-standard props that are passed to standard html elements (not ReactClasses). This appears to be an issue with [react-icon-base](https://github.com/gorangajic/react-icon-base/blob/master/index.js), where `fit` is being passed to the `svg` as a boolean prop. I can't find anything that says `fit` is a valid property for an `svg` element, is there a reason

[2016-07-06 11:08] #43 closed

[2016-07-06 12:57] danben4 commented on #43
What is the status of this issue?

[2016-07-07 14:00] bentatum commented on #42
@gorangajic I'd be happy to help.

[2016-07-07 14:06] bentatum commented on #41
this _should_ be fixed via v2.2.0

[2016-07-07 20:23] colinmccann opened #44 "readme to describe props and required/optional?"
I had to dig (a little) to find:

IconBase.propTypes = {
color: PropTypes.string,
size: PropTypes.oneOfType([
PropTypes.string,
PropTypes.number
]),
style: PropTypes.object
}

You might want to consider listing the proptypes for the icons eg in the readme. Further, maybe specify that size is required and eg color is not?

[2016-07-10 15:25] bentatum opened #45 "update react-icon-base"

[2016-07-10 19:11] gromchen opened #47 "Add 'fa-times' icon"
Couldn't find it

[2016-07-10 19:42] gorangajic commented on #47
fa-times is alias to fa-close so you can use fa/close

[2016-07-10 19:42] #47 closed

[2016-07-10 19:55] gromchen commented on #47
thank you

[2016-07-10 22:21] #41 closed

[2016-07-11 04:56] zaygraveyard commented on #42
@gorangajic I too would be happy to help, but I can't actively maintain this project.
So if anyone needs help, let me know.

PS: Sorry for the late reply.

[2016-07-26 16:16] olegyanchinskiy commented on #34
I'm using the webpack configuration above but getting a module error

    Module parse failed: /Users/oyachinskiy/Documents/ichnaea-root/web-      reporting/public/map/node_modules/react-icons/fa/beer.js Unexpected token (8:12)
    You may need an appropriate loader to handle this file type.

Here is the main portion of my webpack file

    var config = {
	    iconPath: 'node_modules/react-icons'

[2016-07-27 08:19] Borisboky opened #48 "The icons not showing"
Hi,

If I import like `import * as IO from 'react-icons/io` I'm getting error

_/Users/boris/WebstormProjects/autralis-sales-new/node_modules/react-icons/io/index.js:1
export IoAlertCircled from './alert-circled';
^
ParseError: 'import' and 'export' may appear only with 'sourceType: module'_

If I import like `import * as IO from 'react-icons/lib/io` I'm not getting an error, but the icons are not

[2016-07-27 08:28] gorangajic commented on #48
I think that you need this babel plugin http://babeljs.io/docs/plugins/transform-export-extensions/
on my project it works with current setup

.babelrc
[code]

[2016-07-27 08:35] Borisboky commented on #48
I'm getting _Couldn't find preset "stage-0" relative to directory_ error.

My babelrc looks like :

[code]

[2016-07-27 08:40] gorangajic commented on #48
[code]

[2016-07-27 08:47] Borisboky commented on #48
Ok. babel-preset-stage-0 wasn't installed. I installed it, and now I'm not getting the error, but the icons still not showing.

[2016-07-27 17:59] kennetpostigo opened #49 "Ionicons"
Hey,
Awesome library 👍🏼 ! Just wondering if it is possible to add [Ionicons](http://ionicons.com/) to this collection?

[2016-08-03 13:26] osmonus commented on #34
@olegyanchinskiy
Maybe not the more elegant solution, but it works if you include each path explicitly:

`
{
        test: /(\.js|\.jsx)$/,
        loader: 'babel',
        include: [path.resolve(__dirname, './node_modules/react-icons/fa'), path.resolve(__dirname, './node_modules/react-icons/go')],
        query: { presets: ['es2015', 'stage-0', 'react'] }
      }
`

[2016-08-04 06:06] alex-wilmer opened #50 "Not building with webpack NODE_ENV=production"
[code]

[2016-08-04 06:07] alex-wilmer commented on #50
"react-icons": "^2.2.1",

[2016-08-09 11:57] supr-d commented on #34
@olegyanchinskiy
Maybe it wil help:
npm i --save-dev babel-plugin-transform-export-extensions

[2016-08-10 22:50] olegyanchinskiy commented on #34
Thanks guys! @supr-d @osmonus

[2016-08-13 07:59] vinhlh opened #51 "Missing ios-location-outline of IonIcons"
Missing ios-location-outline of IonIcons

[2016-08-13 08:00] vinhlh commented on #51
damn it, it's `react-icons/io/ios-locatoutline`

[2016-08-13 08:00] #51 closed

[2016-08-15 04:51] kiliwalk commented on #34
I'd like to say that we should publish a package with es5-compatible(babel it first), so that no extra babel-ify for this package

[2016-09-01 09:33] martinratinaud opened #52 "Spinning icons"
Hi and thanks for the great work

Is there a way to make icons spin ?

Thanks

[2016-09-01 10:13] gorangajic commented on #52
you can use css transform with css animation

http://stackoverflow.com/questions/16771225/css3-rotate-animation

[2016-09-01 10:15] #52 closed

[2016-09-05 16:49] ammichael commented on #50
I also have this problem. Sad to know it's been opened one month ago and still no answer =(

[2016-09-05 16:50] bentatum commented on #50
I'll look into this asap.

[2016-09-06 15:13] szjanos opened #53 "index.js:25 Uncaught TypeError: Cannot read property 'reactIconBase' of undefined"
Hi!

I am getting the following exception when I am trying to use the icons with the react-svg-morph library:
[code]

Versions:
react-svg-morph@0.1.10
react-icons@2.2.1

I am not sure whether if it's a reac-icons, react-icon-base or a react-svg-morph issue. But since you are the maintainer all of them I guess it does not really matter.

Btw it work's fine with react-icons@0.1.4

[2016-09-06 16:10] gorangajic commented on #53
Use of context is broken in `react-svg-morph` see issue -> https://github.com/gorangajic/react-svg-morph/issues/2 and because `react-icons` now uses context they do not work anymore. Sorry for that but you can always use svg directly

[2016-09-06 20:11] szjanos commented on #53
Thank you for you fast response!

I've very new to SVG and I've spent hours to resize the google's clouduploud icon to 100px. Finally I ended up with this:

[code]

(If you have any better solution please tell me)

And now when I am attaching it to the MorphReplace it drops all the attributes svg what I set... :(

I have also tried it with the MorphReplaceResize but it will ignore the viewBox="0 7

[2016-09-06 20:37] gorangajic commented on #53
Until context bug is fixed react-icons will not work with `react-svg-morph` for now, you can manually copy the path or use older version.

You should not provide `viewBox` to `MorphReplaceResize` it should work without that.

Not sure what you want to do but I have created something similar http://www.webpackbin.com/VyThQMOo-

[2016-09-06 20:58] szjanos commented on #53
The problem is that the Hashtag has a different size than CloupUpload, that's why I cannot use the some viewport.

My Hashtag class looks like this:

[code]

MorphTransitionResize would do the thing but it ignores the first to property of the svg's viewbox so this way my cloud won't be in the middle.

So from the viewBox={"0 7 40 25"} the 7 number is ignored which would pull my icon to the middle

[2016-09-07 10:38] gorangajic commented on #53
great then I will close this issue

[2016-09-07 10:38] #53 closed

[2016-09-12 07:54] awestroke opened #54 "fa/users not implemented"
The [fa/users](http://fontawesome.io/icon/users/) icon is not implemented.

[2016-09-22 10:08] tpinne opened #56 "lib version doesn't use lib of react-icons-base"
I'm using as documented `import FaBeear from 'react-icons/lib/fa/beer';` and getting the following error:

[code]

the problem seems to be that the lib version of react-icons does not use the lib version of react-icons-base. Because if I edit beer.js to use the lib version of react-icons-base it's working fine.

But also I guess it has something to do, that I'm using https://github.com/mxstbr/reac

[2016-09-22 13:42] Ndpnt commented on #56
Same problem here

[2016-09-22 18:55] gorangajic commented on #56
version ? just tested and everything is working ifne

[2016-09-26 18:41] frostfat opened #57 "Error: Expected a component class, got [object Object]"
I implemented as described by documentation, and I get this error. Any tips are appreciated!

Edit: I'm using react-native, is that a problem?

[2016-09-26 19:18] gorangajic commented on #57
react-native is not supported try something like https://github.com/oblador/react-native-vector-icons/

[2016-09-26 19:18] #57 closed

[2016-09-28 09:30] loicginoux commented on #34
@olegyanchinskiy I have the same issue with webpack, did you find a solution ?
@supr-d solution does not work for me and I cannot include each path explicitly.

[2016-09-29 17:30] josephcc commented on #56
Sam problem here with react-icons 2.2.1, babel-core 6.7.2, and react 0.14.7

[2016-09-30 16:37] Ndpnt commented on #56
I temporarily fixed it by removing the `"jsnext:main": "index.js",` from the `package.json`

[2016-09-30 17:12] Ndpnt commented on #56
For those who use webpack (as https://github.com/mxstbr/react-boilerplate), an other way to fix it it's by changing the order in `mainFields`, like this:
[code]

[2016-10-03 16:34] olegyanchinskiy commented on #34
@loicginoux Yes I was able to find a solution for this. I mostly followed what @osmonus provided above.

Here is the relevant part of the loader:

    {
				test: /.jsx?$/,
				loader: 'babel-loader',
				exclude: /node_modules/,
				query: {
					presets: ['es2015', 'react']
				}
			},
			{
				test: /(\.js|\.jsx)$/,
				loader: 'babel',
				include: [path.resolve(__dirname, './node_modules/reac

[2016-10-05 10:47] jaunesarmiento commented on #49
@kennetpostigo it's already in the library but not yet on the docs, it seems.

[2016-10-10 23:03] KyleAMathews opened #58 "Add simple-line-icons"
https://github.com/thesabbir/simple-line-icons

[2016-10-15 14:04] bsr203 commented on #56
see https://github.com/gorangajic/react-icon-base/issues/13
but no activity :-(

[2016-10-15 14:13] leeroybrun commented on #58
Added in #59 :) just waiting the merge & build.

[2016-10-24 14:04] jemhuntr commented on #42
@gorangajic @bentatum any updates on whether this will still be maintained? A little hesitant about using it right now.

[2016-10-26 18:18] outlawshade opened #60 "How can I change icon color based on Hover Active etc pseudo-classes ?"
I mean is there anyway to set component class because className='' isn;t working with me

[2016-10-26 19:15] ravinggenius opened #61 "Built icons in lib should require react-icon-base/lib"
I am building an app on [react-typescript-boilerplate](https://github.com/StrikeForceZero/react-typescript-boilerplate), which is a fork of [react-boilerplate](https://github.com/mxstbr/react-boilerplate). (I haven't changed the webpack configuration at all except to try to get this working.)

I'm having trouble getting `import FaBeer from 'react-icons/fa/beer';` to work, so I tried using the pre-

[2016-10-29 08:10] tracker1 opened #62 "Suggestion react-native-icons package."
Would be interesting to see a `react-native-icons` package that re-uses these same svg icons... I know this probably need to be used with [react-native-svg](https://github.com/brentvatne/react-native-svgkit) with a transform to match those components...  I would suggest publishing the output as a separate package only to avoid the react-native option...  Not sure about react-native-web as an optio

[2016-10-29 14:16] gorangajic commented on #62
It would be difficult because `svg` elements are treated as `View` components not `Text`. And you can't insert `View` component into `Text`. So it will be impossible to do something like

[code]

[react-native-vector-icons](https://github.com/oblador/react-native-vector-icons) handle that case already

[2016-11-04 18:45] i8wu commented on #42
Looks like there are some pretty old pull requests, is there still a need for more maintainers? o_o...

[2016-11-04 19:38] gorangajic commented on #42
If someone want to take over I will be more than happy to give access

[2016-11-05 14:29] Prinzhorn commented on #54
It is present under its alias `fa-group`. Only the (alphabetical) first name of each icon is available. See discussion https://github.com/gorangajic/react-icons/issues/33

[2016-11-08 15:19] brillout opened #64 "fa-link is missing"
http://fontawesome.io/icon/link/ is missing in https://github.com/gorangajic/react-icons/tree/master/fa

[2016-11-08 15:34] brillout commented on #42
👍 @gorangajic would be awesome if you add collaborators, I love this lib

[2016-11-08 15:36] bentatum commented on #42
@gorangajic see pull requests https://github.com/gorangajic/react-icons/pull/32 & https://github.com/gorangajic/react-icons/pull/35 & https://github.com/gorangajic/react-icons/pull/63

[2016-11-08 15:38] brillout opened #65 "add a unique class for each <svg>"
E.g. `<svg class="ri ri-fa-star" .../>` for the `fa-star` icon.
So that adjustments can easily be implemented.

[2016-11-08 15:40] brillout commented on #64
Just found it under fa-chain, didn't see that it had an alias

[2016-11-08 15:40] #64 closed

[2016-11-08 16:22] i8wu commented on #42
thanks @bentatum and @gorangajic for the hard work!

[2016-11-08 16:39] bentatum commented on #42
I'd like give the docs an update. Looks like it's missing at least one icon set and I'd like to make it searchable. @gorangajic cool with you if I take that on?

[2016-11-08 16:52] gorangajic commented on #42
you can do it

[2016-11-08 22:50] brillout opened #66 "outdated GitHub Octicons"
http://gorangajic.github.io/react-icons/go.html doesn't correspond https://octicons.github.com/

[2016-11-09 09:21] NgKhanh opened #67 "How to change size and color for icon"
Hello, I read document I see this code
`<Icon size={30} color='aliceblue' style={{ ... }} />`

But I dont understand how to use this, e.x I want to user MdStar with size:2em, color=blue
`<MdStar  size={2} color="blue">`

Is it ? Pls give more code

[2016-11-15 09:53] awestroke commented on #54
Cool, thanks

[2016-11-15 09:53] #54 closed

[2016-11-16 09:06] yi commented on #61
I met the exact same problem. spent hours update babel and modifying webpack config. no help.
I wonder why use `require` keywords rather then the standard `import`.

[2016-11-16 19:24] ravinggenius commented on #61
That's what I was trying, and I still get the error.

My issue is that the *pre-built* code inside `./lib` is requiring `'react-icon-base'`, but it should be requiring `'react-icon-base/lib'` instead. See https://gist.github.com/ravinggenius/6fd6776ed174c83a4d26912d2507fe42#file-500px-js-L20.

A possible work-around is configuring WebPack to build `./node_modules`, but that negates pre-building th

[2016-11-18 12:50] Kikobeats opened #68 "How to setup vertical-align correctly"
Components uses `middle` by default. How is the approach for use another value? For example, `baseline`.

[2016-11-19 20:20] Prinzhorn commented on #68
`style` prop

[code]

[2016-11-20 10:00] Kikobeats commented on #68
Thanks!

[2016-11-20 10:00] #68 closed

[2016-11-23 03:21] nguyenmanh1507 commented on #67
convert em to pixel and set color for parent el. ex:
parent element font-size = 16px => 2em = 32px
[code]

[2016-11-23 04:39] bentatum commented on #67
The size prop only accepts pixels as an integer value. The color prop should work, is it not for you?

[2016-11-27 17:42] NgKhanh commented on #67
Thanks, I did it

[2016-11-27 17:42] #67 closed

[2016-11-29 11:10] kumarharsh commented on #60
Yes, I'm doing it myself.

[code]

[code]

[2016-12-08 02:41] bsr203 commented on #56
this is solved in react-icon-base v 2.0.4. It would be great if the dep of this lib is updated, and make a release.
cc @gorangajic @bentatum

[2016-12-12 22:38] jdeniau opened #69 "stateless (Pure) components"
react-icons does not seems to care about stateless components.

React now provide a ["PureComponent"](https://facebook.github.io/react/docs/react-api.html#react.purecomponent) class making your component Pure. Another solution is to write components as simple function as said [in the 0.14](documentation).

The advantage of the first solution is that it will be quite esay to update react-icons (sed

[2016-12-12 23:11] bentatum commented on #69
We definitely do care. The update for this is in master. https://github.com/gorangajic/react-icons/blob/master/bin/create.js#L49

I'll publish a new version soon.

[2016-12-13 06:47] jdeniau commented on #69
Oh OK I did not see that, I just looked in the Icon folder. Will test it
when it's released.

Thank you for your project by the way

Le 13 déc. 2016 00:11, "Benjamin Tatum" <notifications@github.com> a écrit :

[2016-12-18 07:21] elwhitman commented on #56
@bsr203 @bentatum @gorangajic please update the react-icon-base to v 2.0.4, the import is not working and i can't deploy without shrinkwrapping but im using yarn now

[2016-12-19 01:38] taoyuan opened #70 "Please upgrade react-icon-base to 2.0.4"
Please upgrade `react-icon-base` to `2.0.4`. It removed `jsnext:main` and fixed https://github.com/gorangajic/react-icon-base/issues/13

[2016-12-19 12:56] kumarharsh commented on #68
Hey, I wanted to suggest that the default verticalAlign be left to `baseline`.

### Usecase
When using with text, it's almost always the case that the icon should align with the baseline instead of the text-middle. And when putting inside buttons as a standalone icon, the button's css would already take case of alignment.

[2016-12-19 23:14] bentatum commented on #56
Just seeing this. I'll publish soon.

[2016-12-19 23:48] bentatum commented on #70
Sorry about that. You should be all set now!

[2016-12-19 23:48] #70 closed

[2016-12-19 23:49] bentatum commented on #69
No problem @jdeniau! Thanks for contributing. The update should be in v2.2.2.

[2016-12-19 23:49] #69 closed

[2016-12-19 23:51] bentatum commented on #65
We can totally discuss doing this, but for now you should be able to accomplish whatever you need to do using composition.

[code]

[2016-12-19 23:51] bentatum commented on #65
@gorangajic thoughts on this?

[2016-12-19 23:51] #62 closed

[2016-12-19 23:58] bentatum commented on #61
Interesting, I see what you're saying. Thanks for pointing this out. I'm going to look into changing this.

[2016-12-20 04:55] bentatum commented on #56
This should be fixed as of v2.2.2.

[2016-12-20 04:55] #56 closed

[2016-12-20 10:09] brillout commented on #65
It's actually what I'm doing right now but wrapping each icon individually is a bit cumbersome.

It seems to me that there are more important tickets though, e.g. https://github.com/gorangajic/react-icons/issues/66

Thanks @bentatum for your work on this, I like this library a lot

[2016-12-20 10:16] brillout opened #71 "Cross Icon-Set Search"
https://github.com/gorangajic/react-icons/issues/42 mentions

Not sure what the plan is but it would be really nice to be able to Ctrl+F over all icon sets.

Right now, I end up opening every icon set in a new browser tab and Ctrl+F in each of them.

[2016-12-20 12:59] bentatum commented on #71
I just published the initial pass at this last night.

http://react-icons.benjamintatum.com

Let me know what you think of the search feature and if you have any additional ideas.

[2016-12-20 13:27] brillout commented on #71
Wow nice!

And if you add a "All Icons" selection then it would be perfect for me.

Thanks so much!

[2016-12-20 13:42] bentatum commented on #71
Good idea! I'll add that to the list.

[2016-12-20 15:14] bentatum commented on #65
I see what you mean. We'll keep it on the list.

For now, you could also create a component that does the wrapping once for you.

[code]

and then use it like this:

[code]

[2016-12-21 00:33] EddyTheDove opened #72 "How to use import *"
Hello,
I could not find anywhere in the documentation and on google how to use
`import * as FontAwesome from 'react-icons/fa'` in the render fonction.

Thank you for understanding.

[2016-12-21 10:40] JonnyBoggon commented on #56
I am still getting the error 'Module parse failed: .../node_modules/react-icons/fa/beer.js Unexpected token (6:4) You may need an appropriate loader to handle this file type.' when using v2.2.2.

[2016-12-21 18:30] bentatum commented on #56
Sorry to hear that. Can you show me how you're importing the icon?

[2016-12-22 09:24] JonnyBoggon commented on #56
`import FaBeer from 'react-icons/fa/beer';`

Just having that at the top of my page returns this error in my console:

`ERROR in ./~/react-icons/fa/beer.js
Module parse failed: [site-dir]/node_modules/react-icons/fa/beer.js Unexpected token (6:4)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (6:4)
    at Parser.pp$4.raise ([site-dir]/node_modules/webpac

[2016-12-22 10:40] JonnyBoggon opened #73 "Instagram icon"
The Instagram logo via Font Awesome is the old logo.

The icon has been updated on their website but not on this plugin.

[2016-12-22 13:27] bentatum commented on #56
Ok, so it works for you using `react-icons/fa/beer` but not `react-icons/lib/fa/beer`.

[2016-12-22 13:29] JonnyBoggon commented on #56
Sorry, I have edited my comment above. It works using libs.

[2016-12-22 13:36] bentatum commented on #56
No worries. So, it works using `react-icons/lib/fa/beer`?

[2016-12-22 13:37] JonnyBoggon commented on #56
That is correct. I have it set up with multiple icons using the lib folder.

Thank you for your good work!

[2016-12-22 13:40] bentatum commented on #56
Ok, cool. Importing from the /lib/ path is actually the recommended way to import right now.

Ps. You're welcome! I use react-icons probably more than anyone!

[2016-12-28 22:49] bentatum commented on #72
this should work:

`import * as FontAwesome from 'react-icons/lib/fa'`

[2016-12-28 22:49] #72 closed

[2016-12-29 09:34] EddyTheDove commented on #72
Sorry that is how to import...
You don't show any example to use it in a tag.

[2016-12-29 14:29] carlodicelico opened #75 "Merge #63 breaks enzyme's find()"
#63 breaks [enzyme's ShallowWrapper API's find()](http://airbnb.io/enzyme/docs/api/ShallowWrapper/find.html), which is looking for a function name. Enzyme uses the function's name attribute to facilitate easier lookup of components rendered in a tree.

Proposing this, so that the export is a named function.

[code]

[2016-12-29 14:32] bentatum commented on #75
I think that's reasonable. Do you mind submitting a pull request?

[2016-12-29 14:35] bentatum commented on #72
Sorry for the confusion. I'll do my best to clarify that in the readme.

[2016-12-29 14:39] bentatum commented on #72
Ah, I see what you mean. Just `console.log(FontAwesome)` and it will show you all of the names of the icons. And you should be able to use it in a tag like this: `<FontAwesome.FaAlignCenter />`.

The reason we import directly from the lib/icon source is because it reduces bundle size. If you import all from FontAwesome, you're importing hundreds of icons at once which is probably not ideal.

[2016-12-29 15:30] carlodicelico commented on #75
[Done](https://github.com/gorangajic/react-icons/pull/76)!

[2016-12-29 15:56] bentatum commented on #75
😎  Cool, thanks! I'll give it a spin this afternoon and publish a new version if all checks out.

[2016-12-29 17:20] bentatum commented on #75
2.2.3 resolve this. thanks again!

[2016-12-29 17:20] #75 closed

[2016-12-29 17:21] bentatum commented on #73
I'd like to find a way to automate the process of keeping these libs up to date. Let me know if you have any ideas. Otherwise, feel free to submit a pull request. Thanks.

[2016-12-29 17:21] #73 closed

[2016-12-29 17:23] bentatum commented on #66
Working on finding ways to automatically update out-of-date icons. Let us know if you have any ideas, otherwise feel free to submit a PR. Thanks.

[2016-12-29 17:23] #66 closed

[2016-12-29 17:25] bentatum commented on #65
I'm going to close this for now. Feel free to submit a PR to propose any desired functionality you may have and we'll gladly consider it!

[2016-12-29 17:25] #65 closed

[2016-12-29 17:26] #60 closed

[2016-12-29 17:28] bentatum commented on #50
@ammichael @alex-wilmer Is this still a problem? I can't seem to reproduce on my end.

[2016-12-29 17:43] EddyTheDove commented on #72
Thank you very much. That's indeed what I was looking for. Thanks

[2017-01-10 16:27] dKab opened #78 "missing "main" field in package.json"
So I suppose files built with prepublish should be linked to in `main` field of package.json - otherwise node doesn't know where to look for compiled output.

(See https://github.com/facebook/jest/issues/2550)

[2017-01-10 20:54] kvoth3 opened #79 "[feature request] Ability to stack two icons as shown in fontawesome example"
Stacking examples found  here http://fontawesome.io/examples/

Would be a great addition.

[2017-01-17 19:37] tracker1 opened #80 "Convert icons to PureComponent as baseline"
Given the rendering/performance differences, it's probably worthwhile to convert rendering to use PureComponent as the base instead of the stateless component.

[2017-01-17 19:42] bentatum commented on #80
Thanks for pointing this out. I was unaware of PureComponent. I think we should replace the base package and change the create script to use this as well.

[2017-01-17 20:03] mbrookes commented on #80
@bentatum If you wish to maintains these as SFCs, but gain the benefit of pure rendering, you can wrap them with recompose/pure as we do for Material-UI svg-icons: https://github.com/callemall/material-ui/blob/master/src/svg-icons/action/accessibility.js

[2017-01-17 22:42] bentatum commented on #80
thanks @mbrookes probably better we avoid the additional dependency.

+1 for recompose though. love that lib.

[2017-01-18 00:01] mbrookes commented on #80
I"m tempted to submit a PR to `recompose` to use `PureComponent` under the covers just for badness. :smiling_imp:

[2017-01-18 00:03] bentatum commented on #80
shouldComponentUpdate? Never!

[2017-01-18 23:08] tracker1 commented on #80
@bentatum I'm wondering if `PureComponent` vs. `shouldComponent = () => false` would be better...

[2017-01-18 23:21] bentatum commented on #80
PureComponent would be better.

[2017-01-18 23:21] tracker1 commented on #80
@bentatum yeah, was just looking into it, and updated my prior comment.

[2017-01-19 10:46] brillout commented on #71
just used your new interface to find `react-icons/lib/io/ios-world-outline`, thanks! Wouldn't have find it otherwise.

[2017-01-22 16:09] oldo commented on #34
I was able to resolve this issue by including the following loader in my webpack config:

[code]

[2017-01-24 21:31] CerratoA commented on #34
To resume best solution is by @olegyanchinskiy
But take in consideration this:
I was just copy pasting his code, but he is using fa and go.
Update the code to resolve your needs, mine were material design = md
so I used :

[code]

[2017-02-05 20:08] sandoche commented on #50
Hi ! I have the same problem, is there a way to fix it ? @ammichael @alex-wilmer

[2017-02-06 17:01] sandoche commented on #50
Hi @bentatum I found the issue:
I had to remove "react-icons" from dependencies and add it to the devDependencies.

So for the webpack user the good solution is to do
npm install react-icons --save-dev

[2017-02-08 16:28] cristyansv commented on #34
In the new versions of webpack it is necessary to put the suffix `babel-loader` @oldo
[code]

[2017-02-08 19:59] oldo commented on #34
Thanks @cristyansv
Good to know.

[2017-02-14 00:05] brillout commented on #71
(using it again :))

[2017-02-15 02:05] chrisblow opened #81 "Some icons do not show in search"
This is a wonderful project.

I had a tiny problem: I think some of the icons are included but are not displayed in the index.

For example "MoreHoriz" does not show here: http://gorangajic.github.io/react-icons/md.html but it is there: react-icons/lib/md/more-horiz

[2017-02-25 11:39] MichaelIT commented on #48
maybe u miss size props. like:
`<IconHome size={30} />`

[2017-02-26 21:58] andrii-m commented on #72
I have an error when tries to import an Icon in following ways
`import { FaBeer } from 'react-icons/fa/';`
`import * as FontAwesome from 'react-icons/fa/';`

![unspecified](https://cloud.githubusercontent.com/assets/2855143/23344115/61744f62-fc7f-11e6-846d-68715b8a4bcf.png)

I think there should be something like `export { default as Fa500px } from './500px';`

[2017-03-03 16:55] Zac-Garby opened #82 "Update octicons"
Can someone update the Github Octicons? They're outdated and look awful compared to the new ones.

[2017-03-05 04:14] Adam-Burke opened #83 "Importing every icon"
import { MdRefresh } from 'react-icons/lib/md';

How do  I import only a single icon, the above seems to import the entire icon set.

[2017-03-06 21:57] gorangajic commented on #83
[code]

[2017-03-06 21:57] #83 closed

[2017-03-07 16:02] owcc commented on #50
I have the same problem ... It looks no solution so far 😞

[2017-03-09 04:20] gutenye opened #84 "Is there a babel-plugin cherry pick module like babel-plugin-lodash does?"
Is there a babel plugin that transfrom

[code]

to

[code]

webpack2 tree shaking does not solve it, for you still need import all icons in development (which is large and slow build).

I did a few search, and found some plugins may help:

- https://bitbucket.org/amctheatres/babel-transform-imports
- https://github.com/ant-design/babel-plugin-import

[2017-03-13 21:26] bkniffler commented on #34
I'd love to see a es5 compatible version of this, just like react-router!

[2017-03-16 22:24] corydeppen opened #85 "Usage with Create React App"
Trying to use `import FaPlus from 'react-icons/fa/plus'` in a Create React App project fails with the following:

[code]

If I understand what I've read from browsing this and other issue lists, it's due to the CRA Webpack config trying to use the file-loader instead of the babel-loader. For CRA projects that haven't ejected, it seems like the alternative is to use the compiled module with `import

[2017-03-19 07:59] gutenye commented on #84
Can use babel-transfrom-imports https://bitbucket.org/amctheatres/babel-transform-imports/commits/47089e91b767d4762b0d1f67551407e6d0c4e387

[2017-03-19 07:59] #84 closed

[2017-03-20 06:38] bryan commented on #42
Still active?

[2017-03-23 21:19] noosxe commented on #85
I'm trying to use library without Create React App, using babel-loader in webpack2 config and it does not work anyway!
Interesting to know what can be the cause.

[2017-03-23 21:21] noosxe opened #87 "Ugly icons if size is different then 14px"
I'm trying to use the library and fa icons look proper only if size is given 14px.
I don't think this was the desired behaviour.
Anybody know how to fix this ?

[2017-03-25 15:26] emilbruckner opened #88 "Font Awesome needs to be updated"
eg fa-instagram

[2017-03-25 15:47] emilbruckner commented on #87
Normal behaviour here
More info?

[2017-03-26 09:12] noosxe commented on #88
Not only that, some useful icons are definitely missing!

[2017-03-26 09:20] noosxe commented on #87
Here are 2 examples from my use case, same icon with 2 different sizes applied:
[normal quality - 14px](https://ibb.co/e7VUDv)
[bad quality - 15px](https://ibb.co/gVFJ6F)

[2017-03-26 11:46] bentatum commented on #87
are you using the size attribute size these?

<Icon size={15} />
<Icon size={14} />

[2017-03-26 11:47] noosxe commented on #87
Exactly, I use that, normal quality appears to be only when using 14 size, everything else is a total mess

[2017-03-26 11:49] bentatum commented on #87
Which browser are you using? Do you have a codepen or some kind of live example I can take a look at?

[2017-03-26 12:11] noosxe commented on #87
Same issue on chrome and firefox, don't have ready to send example, but will make one!

[2017-04-02 15:30] brillout commented on #71
and again.. any reason why it's not on http://gorangajic.github.io/react-icons/?

[2017-04-04 10:50] christchron commented on #4
can you tell me how to fix this? i don't really understand what to do to fix this. Thank you.

[2017-04-04 14:18] oreqizer commented on #80
functional components will have a performance advantage over _any_ class in the future, I would keep them that way

[2017-04-07 02:38] bammoo opened #90 "Chrome console: Unknown DOM property fill-rule. Did you mean fillRule?"
I modified bellow in bin/create.js

[code]

Is there any problem with this?

[2017-04-07 14:22] mustafawm opened #91 "Typo in FaBattery"
Hello,

Thanks for the awesome library.

I just noticed that FaBattery is missing a `-` [docs](https://gorangajic.github.io/react-icons/fa.html).
`react-icons/lib/fa/battery3` should be `react-icons/lib/fa/battery-3`

cheers,

[2017-04-09 00:36] dardub commented on #87
The material icons documentation recommends specific sizes for their icons. I've noticed the same issue before with the hamburger icon when using material icons on their own.

See here: http://google.github.io/material-design-icons/#sizing

[2017-04-10 04:37] DaveyEdwards commented on #34
When dynamically loading icons like this is it inevitable to see long  compile times?

![2017-04-09_21-28-19](https://cloud.githubusercontent.com/assets/15203899/24846054/3e76f7ea-1d6c-11e7-9f74-03d4116856ba.gif)

I am using the babel-loader
[code]

[2017-04-12 08:13] kjanoudi commented on #71
Just used http://react-icons.benjamintatum.com/all this is so cool!!

[2017-04-13 06:32] Abdul-Hameed001 opened #92 "Need Appropriate loaders issue please guide me"
You may need an appropriate loader to handle this file type.
| export Md3dRotation from './3d-rotation';
| export MdAcUnit from './ac-unit';
| export MdAccessAlarm from './access-alarm';

[2017-04-15 18:52] Carduelis opened #93 "Accessing PropTypes via the main React package is deprecated"
Hello, since React v15.x React.PropTypes is deprecated, instead we should use independent package 'prop-types';
So, in place of this
[code]
you need to put
[code]
... or smth with using underscore like _propTypes

[2017-04-19 15:47] sebastienbarre commented on #93
This was fixed last week in [`react-icon-base`](https://github.com/gorangajic/react-icon-base/commits/master), which I believe is the framework `react-icons` leverages; unfortunately `react-icons` [still uses 2.0.4](https://github.com/gorangajic/react-icons/blob/master/package.json#L63).

[2017-05-01 07:54] mshibl commented on #92
try `import {ICON_NAME} from "react-icons/lib/md"`

replace `md` with any of the available libraries, this worked for me

[2017-05-02 15:10] Deliaz commented on #92
Met the same issue, but didn't found a solution, yet.

[2017-05-04 13:57] DrYSG commented on #93
is this on the list of things to fix yet? Seems straightforward.

[2017-05-04 23:08] #93 closed

[2017-05-05 19:12] mergebandit commented on #85
It sort of hints at this in the Usage section of ReadMe ...

But change your import to `import FaPlus from 'react-icons/lib/fa/plus` and it will work with CRA. Doing so right now.

[2017-05-24 16:50] ryanhca commented on #44
Yes, an example explaining how to use props to adjust the size of icons would be great. +1 here

[2017-05-27 21:09] mmahalwy commented on #50
I get this in production:
[code]

[2017-05-28 15:37] eirikurn opened #98 "Compile to ES5 with module syntax"
In my experience, the React community shies away from running babel on node_modules. Mostly for performance reasons. It seems weird to expect people to special case this package, otherwise missing out on the ES module syntax with tree shaking.

What Redux and many others do is compile the src folder twice:

* Down to ES5 + CommonJS modules in lib folder, specified as "main" in package.json
* Down

[2017-05-29 10:40] gorangajic commented on #98
I am open for PR, if you want to maintain this project I can give you full access

[2017-06-08 23:18] ronaldroe commented on #88
fa-pencil-square-o

It's probably going to end up being the reason I'll have to switch back to using FA directly.

[2017-06-21 22:45] pgnewell opened #99 "another issue importing icons"
I am trying a simple use of react-icons but it gives this error:

the code looks like this and I have had no trouble with other node_modules or my own components being interpreted as JSX:

Why is this module alone not being interpreted as JSX?

[2017-06-21 23:01] pgnewell commented on #99
This is corrected by using:

import MdIcon from 'react-icons/lib/md/edit';

[2017-06-24 15:31] metasean commented on #72
@andrii-m - I think the documentation is just problematic and needs to be corrected.  The following ways should work:

`npm install react-icons --save` then

**To import all icons, and use a specific one:**
[code]

**To import and use a single icon:**
[code]

[2017-06-25 16:23] wbobeirne opened #101 "Add Feather icons"
Feather is open source and a pretty robust set of icons, would make a good addition: https://feathericons.com/

I'll try to put together a PR in a bit, but thought I'd make an issue for it first.

[2017-07-05 09:21] Jianru-Lin opened #103 "Update peerDependencies of react to 16.x?"
current:

[code]

desired:

[code]

Will it be better?

Thanks! 😄

[2017-07-10 10:23] zhenyulin opened #104 "Would it be possible to configure styles via props or styled-components?"

[2017-07-10 10:28] #104 closed

[2017-07-10 13:13] zhenyulin commented on #4
I'm having some issues on the module resolve during the docker build while using the suggested pattern ```import IoAndroidCall from 'react-icons/lib/io/android-call';```

Does it has something to do with webpack import v.s. babel module import?

[2017-07-10 16:45] zhenyulin commented on #84
@gutenye How do you actually config the plugin for this library? I found it a bit tricky as it involves sub-module in the path, e.g. the `md`

[2017-07-12 07:10] bsurai commented on #92
@mshibl  I can't use with typescript :(

[2017-07-13 03:03] gutenye commented on #84
@zhenyulin I created a small library for it, please check https://github.com/gutenye/transform-imports-react-icons

[2017-07-14 14:36] vjwilson commented on #99
Adding `lib/` to the import string fixed this issue for us locally, but now, when our project builds on our Jenkins server, webpack can't find the code in lib/

[code]

but if I use our webpack prod config to build locally, it does still find it:

[code]

Is there some setting we need to change either in our webpack config, or on the Jenkins server, so that `yarn install` on Jenkins will also inst

[2017-07-23 03:46] hmontes opened #105 "FA Animated icons + custom icons"
Hi.

1. According to FA website: http://fontawesome.io/examples/ the icons can be animated. This is implemented in your package?

2. Can i add custom icons? Like this popular library? https://github.com/thesabbir/simple-line-icons/

Thank you

[2017-07-27 09:32] bearoutthere opened #106 "Please add support for https://materialdesignicons.com/"
This is a community supported superset of Google's material design icons with many more additional options.
Thanks.

[2017-08-02 23:44] skumblue commented on #4
@christchron you must call the **lib** folder to import.

Look at:
use this `import Mail from 'react-icons/lib/fa/mail'` instead `import Mail from 'react-icons/fa/mail'`.

[2017-08-03 12:03] skumblue commented on #88
Update please!

[2017-08-07 19:52] fpoumian opened #108 "Eslint Style Config?"
I noticed that the Eslint config is set up to use the "eslint-config-airbnb" preset, however, taking a look at the component files I just noticed that the none of them are using semicolons, which is a rule enforced by the Airbnb's style guide. So, as a result, Eslint is complaining about this particular rule; is this intentional? maybe we could use [StandardJS](https://standardjs.com/) instead? or

[2017-08-17 11:18] kumarharsh commented on #105
To add 'animated' icons, just add a css class on the JSX: `<IconSpinner className="spin" />`

In my case, I'm adding custom icons by making the svg in Illustrator/Affinity, compressing it via [SVGOMG](https://jakearchibald.github.io/svgomg/), and then creating my own icon file, say 'Bulb.js', with the following content:

[code]

[2017-08-19 22:09] hmontes commented on #105
```<FaCircleONotch className="spin" />```

Don't work :(

[2017-08-19 22:55] hmontes opened #109 "Missing user-o icon"
This icon is missing

http://fontawesome.io/icon/user-o/

Thank you

[2017-08-21 15:52] iDVB opened #110 "Accessibility support"
Just noticing that currently react-icons does not support passing down the `title` and `description` for the icons. Any chance this can be added? Would you accept a PR?
https://css-tricks.com/accessible-svgs/#article-header-id-6

[2017-08-23 10:37] jallier commented on #92
@bsurai and anyone else using typescript who is stuck, you can fix this if you declare your own .d.ts file.

For example using the /md/search icon:
*icons.d.ts*
[code]
Save the file wherever the custom types go, then import in the component page using:
[code]
 This will only work for the specific icons, but if you wanted everything I guess you could just copy the definitions given from @types/reac

[2017-08-29 12:48] pmunin opened #111 "React build very slow"
I'm using it with create-react-app + react-scripts-ts (typescript)+ react-app-rewired(to override build configuration). In my code I'm linking all FA icons so it's easier to use it:
`import * as fa from 'react-icons/lib/fa';`. Just this line increase build time for ~2 minutes, and adds additional 500k to generated js bundle + 3Mb for source map.

Can you please provide instructions how to configur

[2017-08-29 12:57] pmunin opened #112 "Icons have ugly offset in button (comparing to Bootstrap glyphs)"
I'm using Bootstrap in my react app. Bootstrap is missing some glyphs so I have to use FA icons from react-icons. And when I add it to the button (xs size) - it renders with some ugly offset, which does not happen if I use Bootstrap glyph icon:

Here is the code:
[code]
Here is result:

![image](https://user-images.githubusercontent.com/7120440/29822011-f9e42e2c-8c97-11e7-8452-e7ce8ad8c6d7.png)

1

[2017-08-29 13:52] rasmusmilz commented on #88
fa-envelope-opened missing as well - is anyone going to update this ?

[2017-08-30 00:55] marcellodesales commented on #105
I'm also looking for the `spin` or `bounce` of icons

[2017-08-30 00:55] marcellodesales opened #113 "2 Stacked icons?"
Is there a way to get 2 icons stacked as shown at http://fontawesome.io/examples/?

[2017-09-01 20:56] dyst5422 commented on #92
I GOTCHU FAM!

icons-type-shim.d.ts
[code]

[2017-09-04 02:39] praiseTheKek opened #114 "How to reference icon import as variable from another file?"
So far I have been referencing the library to make a variable
`let IconBomb = require('react-icons/lib/fa/bomb');`
Then in my html I call it as
`<IconBomb/>`

Now I have multiple files that need `IconBomb`, so I want to make a separate `icons.js` file that includes all my icon variables.
[code]

How can I import these variables to be used by various components?

[2017-09-11 06:58] kumarharsh commented on #109
Related to #101. I think the new icons from v4.7 have not been added to this project.

[2017-09-11 07:07] kumarharsh commented on #101
The icons are really beautiful. Would love to see this included in react-icons. Seems like the icons already have an svg source.

[2017-09-17 20:34] ronaldroe commented on #111
That is likely because you are importing every single icon in the FA stack. I'm a bit surprised that it's only 500k. It should be fine for development, but for production, you should only be importing the icons you are actually using.

[2017-09-24 16:50] paniclater commented on #85
Confirmed this works with create react app as documented. Thank you for an amazing project!

[2017-09-26 21:26] duro opened #116 "Upgrade peer-dependencies for react 16"
As title states

[2017-09-26 21:33] duro commented on #116
I have tested this, and all works well under react 16, just need to clear up the peer dep warnings

[2017-09-27 11:00] mariacheline commented on #85
When I try to import multiple icons I get error `MDCancel' is not defined  react/jsx-no-undef`
Importing `import {MdCancel, MdChat, MdCheck} from 'react-icons/md';`
Also tried `import {MdCancel, MdChat, MdCheck} from 'react-icons/lib/md';` but nothing works.

[2017-10-02 22:19] mshwery commented on #116
This would be great – I cannot upgrade to 16 until `react-icons` peerDependencies supports as well.

[2017-10-02 22:20] mshwery commented on #116
Closed by https://github.com/gorangajic/react-icons/pull/117

[2017-10-02 22:33] mobbarley opened #118 "Issues trying to build with webpack."
I am having issues trying to compile after adding the icons.

[code]

Below is my **webpack.config.js**:
[code]
Am I doing something wrong here. As you can see I have added the plugins which I think should compile arrow functions. But seems that <Icon> type is not being read properly

[2017-10-03 08:03] nwwells commented on #42
@gorangajic I'd be happy to help! Please add me as a Collaborator!

[2017-10-03 08:43] nwwells commented on #103
Superseded by #116, which has an associated PR. This should be closed.

[2017-10-03 10:14] #85 closed

[2017-10-03 10:14] #103 closed

[2017-10-03 19:33] mobbarley commented on #118
`/node_modules/` was being ignored by default. Adding` /lib` to the `import` path solved the issue.

[2017-10-03 19:33] #118 closed

[2017-10-04 15:46] nwwells commented on #116
Merged #117

[2017-10-04 15:54] nwwells commented on #116
@gorangajic will you publish v2.2.6, please?

[2017-10-05 16:24] mshwery commented on #116
Would be great to get this published on npm.

[2017-10-05 22:37] nwwells commented on #116
published as 2.2.6

[2017-10-05 22:37] #116 closed

[2017-10-09 22:30] senycorp commented on #112
Hi,

i had same problem with my own implementation and wanted to test this library. Same here. I did some hacks. First one was to wrap the icon by FontAwesomes <i className="fa"></i>. This was good but not really perfect. Then i figured out that the main problem was the viewBox value of the svg element. in asterisk.js. Setting it to '0 -2 40 40' solves it totally.

I am not a svg expert and modify

[2017-10-20 07:23] xueqingxiao opened #119 "how to make own Icon?"

[2017-10-20 16:58] trevordmiller opened #120 "Add material design "webhook" icon"
From https://materialdesignicons.com/icon/webhook

[2017-10-21 04:45] nimaiwalsh commented on #85
Do you have to import each individual icon required using the above method in CRA?

You can't use `import {MdCancel, MdChat, MdCheck} from 'react-icons/md';` as an example?

[2017-10-21 11:57] nwwells commented on #85
Yes you can, but from react-icons/lib/md

[2017-10-24 05:53] #119 closed

[2017-11-13 17:13] ericclemmons commented on #52
Font Awesome supports `fa-spin`:

Does this still need to be done via custom CSS, or can `className="fa-spin"` work?

[2017-11-13 17:18] martinratinaud commented on #52
I ended up using

[code]

and used it through `className`

[2017-11-18 13:20] silvenon commented on #110
Yeah, this would be awesome.

[2017-11-28 04:22] mryechkin commented on #110
Agreed, it would be great to see this added.

The project I'm working on now requires AODA compliance, and this feature is one thing we're having some trouble with for actionable icons. Using a separate label with aria-hidden="true" doesn't work as nicely with iOS voice assistance

[2017-11-28 14:35] iDVB commented on #110
I've got this ready to PR, other then I'm trying to figure out the proper unit tests to write for it.
@gorangajic any suggestions on this PR? https://github.com/gorangajic/react-icon-base/pull/25

[2017-11-30 12:40] kumarharsh commented on #114
http://exploringjs.com/es6/ch_modules.html#sec_importing-exporting-details

[2017-12-02 12:00] rabashani opened #122 "trying to stack icon on icon"
I am trying to create something like this with this library

<span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>

you can see it also here - http://fontawesome.io/examples/

[2017-12-08 07:17] kumarharsh opened #123 "Support for Fontawesome 5"
Hi, the Fontawesome 5 has been released and the default download contains raw SVG files too, so I think automating it would be easy. What do you think about adding support for it?

[2017-12-20 02:26] hector commented on #47
I think it would be clearer to rename it to times since it is how it is called on font-awesome

[2017-12-25 03:21] antonybritto opened #124 "How to remove inline "style" attribute"
When i try to import fontawesome icons i am getting "style='vertical-align:middle'" attribute on the SVG tags. Since i am creating AMP style tags are not allowed, hence wanna remove it. Do i need to create a HOC? Any help here will be appreciated.

[2018-01-11 15:11] luisherranz commented on #124
We are having the same problem here when using React to render amp html.

[2018-01-11 15:47] antonybritto commented on #124
@luisherranz - For hotfix, currently i am doing a nasty fix which does string replace("style='vertical-align:middle'", "") in the final react rendered HTML.

[2018-01-11 17:10] luisherranz commented on #124
We've done a PR to fix this problem:
https://github.com/gorangajic/react-icon-base/pull/30

It adds a new prop called `verticalAlign` which can be used to remove the inline style:

[code]

In the meantime, anyone wanting to remove the inline style attribute can use our fork with:

[code]

[2018-01-12 20:23] ghufr commented on #111
I have same problem here

`import { MdIcon } from 'react-icons/lib/md'`
`import { FaIcon } from 'react-icons/lib/fa'`

and the bundle size is around **2MB** & **200KB** **Gzipped** 🙄

![bundle-size](https://user-images.githubusercontent.com/20156570/34893455-e42ffb04-f80f-11e7-84f0-416e09d4d4cf.png)

[2018-01-13 15:54] nidaorhan commented on #111
I'm also experiencing the same issue. Is there any solution for this?

[2018-01-13 17:20] ghufr commented on #111
I think the solution is `import FaCaretDown from 'react-icons/lib/fa/caret-down'`  👀

[2018-01-15 05:12] njradford opened #126 "Usage with TypeScript + Webpack"
Any guidance or recommendations for usage with Webpack and a TypeScript loader?

[2018-01-19 21:23] waterfoul commented on #123
FYI FA 5 has support for this by default https://www.npmjs.com/package/react-fontawesome

[2018-01-19 21:24] waterfoul commented on #123
FYI FA 5 Has support for react natively https://github.com/FortAwesome/react-fontawesome it works a little different though

[2018-01-29 12:33] dalen opened #127 "Failure when building with parcel"
It seems like parcel (https://parceljs.org/) doesn't like that this project uses JSX syntax in plain `.js` files. Could you rename them all to `.jsx`?

Full error below:
[code]

[2018-01-29 12:36] gorangajic commented on #127
you should use lib folder
[code]

[2018-01-29 12:36] #127 closed

[2018-01-30 02:21] Jinksi commented on #101
`react-icons` maintenance seems to have halted.
[`react-feather`](https://github.com/carmelopullara/react-feather) is a good alternative for using feather icons

[2018-01-30 11:41] marcelabomfim opened #128 "Can i pass outline variation by props ?"
I need to use the Font Awesome Heart icon outlined by default and filled when this has props active:

![heart-o](https://user-images.githubusercontent.com/6224547/35563679-a87912de-059e-11e8-852e-ebf90ade9d86.png) fa-heart
![heart](https://user-images.githubusercontent.com/6224547/35563677-a85df04e-059e-11e8-8c94-740a314af24f.png) fa-heart-o

I can do something like this ?

[code]

[2018-02-01 08:46] mariusk commented on #111
This hit me as well, although I was using `preact-icons` which is more or less the same module as this. The solution suggested by @ghufr above does work. But I'm also wondering why using named imports unexpectedly pulls in everything.

[2018-02-05 23:38] gtournie commented on #105
@hmontes: the class is 'fa-spin' and not 'spin'

`<FaCircleONotch className="fa-spin" />` should work

[2018-02-06 21:22] cjtafoya commented on #111
Any additional discussion on sizing issues would be helpful... likewise only selectively importing icons, and likewise ending up with a huge bundle size

[2018-02-08 15:29] BrunoQuaresma commented on #99
Any updates?

[2018-03-05 18:38] iamdanthedev commented on #126
import EditIcon from "react-icons/lib/md/edit";
:-)

[2018-03-09 00:35] ryderdonahue commented on #99
bump

[2018-03-10 14:22] antoinerousseau commented on #42
I see that the project title says "not maintained anymore"... I'm happy to help, you can add me as a collaborator if you wish.

[2018-03-17 22:43] ilyanoskov opened #129 "No telegram icon?"
When do you update the icon packs?

[2018-03-25 13:13] antoinerousseau commented on #129
PR welcome :)

[2018-03-29 08:51] fameches opened #130 "Tree-shaking doesn't work in webpack 4"
Add "sideEffects": false in package.json, please. My bundle size is 1.3mb when I use import { MdPerson, MdLock, MdVisibility, MdVisibilityOff } from 'react-icons/md';. But if I add sideEffects false build size is 400kb

[2018-03-29 08:57] fameches commented on #130
We can add sideEffects in webpack rules now      {
        test: /\.js$/,
        exclude: /node_modules/,
        use: ['babel'],
      },
      {
        test: /\.js$/,
        include: [path.resolve(__dirname, "node_modules/react-icons")],
        use: ['babel'],
        sideEffects: false,
      },

[2018-03-29 08:57] #130 closed

[2018-04-19 01:44] diegohaz opened #133 "Alternatives?"
Since this project is not maintained anymore, do you guys recommend any other alternative?

[2018-04-20 23:27] mmmeff commented on #133
Or alternatively, would the current maintainer be willing to pass the torch on? This project is amazing and I'd hate to see it stagnate.

[2018-04-25 14:42] HamadaBrest opened #134 "Some md icons not working"
These icons break `react-icons/lib/md/looks{3..6}`

[2018-04-29 18:31] JeffersonFilho commented on #133
I agree! Would be good if @gorangajic passed it to someone so we can still maintain it!

[2018-04-29 18:39] gorangajic commented on #133
I have passed project to couple of guys already and no one stick to it. Just ping me with username and I will add you to maintaince list

[2018-04-30 13:42] tomellwood commented on #88
@emilbruckner I see you had a PR to update the Instagram icon but it hasn't been tagged and released yet. Is there a release planned?

[2018-04-30 16:13] #120 closed

[2018-05-01 01:39] kamijin-fanta commented on #133
@gorangajic please add me to the maintainer.

[2018-05-01 09:27] JeffersonFilho commented on #133
@gorangajic I'm happy to give it a shot too!

[2018-05-01 14:13] emilbruckner commented on #88
@tomellwood Not that I know of

[2018-05-08 13:20] vietthanhbk1994 opened #135 "Instagram Font Awesome icon different between doc and real"
[https://gorangajic.github.io/react-icons/fa.html](url)
It is Instagram Font Awesome icon in home page `react-icons/lib/fa/instagram` ![capture](https://user-images.githubusercontent.com/16161343/39759262-680c3946-52fc-11e8-9b0c-332b3e5c75e0.PNG)

And this is icon when I use
![capture](https://user-images.githubusercontent.com/16161343/39759419-d41a0352-52fc-11e8-9e58-15a1886eebf6.PNG)
They are di

[2018-05-16 11:08] JeffersonFilho commented on #135
I just checked and I can confirm that this is actually a bug, I will have a look at it today after work!

[2018-05-21 03:10] kamijin-fanta commented on #133
I have developed a similar project prototype while waiting. Support of ES Modules, Use of git submodule, Improvement of build speed, TypeScript support etc, and many modern design changes are included.

https://github.com/kamijin-fanta/react-icons-set

Owners of react-icons do not actively develop. I'm thinking about merging this project or developing it independently.

I want idea.

[2018-05-21 19:40] kevindice opened #137 "Update README to reflect new Context API"

[2018-05-23 20:21] JeffersonFilho commented on #133
It sounds good, but I think ideally we should fix the current issues with this one first before thinking of merging anything into it.

Any thoughts?

[2018-05-24 01:53] kamijin-fanta commented on #133
I think most of the current Issue is an icon library addition / update. This can be handled quickly.

The biggest problem is that the administrator of this repository is not active.
so, CI setting, npm publish will also take time.

[2018-05-28 14:35] elimisteve opened #138 "Missing FaUsers?"
It appears that https://fontawesome.com/v4.7.0/icon/users/ is missing from `react-icons`.

Is there some reason why it wasn't added?

[2018-05-28 23:00] elimisteve commented on #138
My mistake; I see that `react-icons` calls it `FaGroup`.

[2018-05-28 23:00] #138 closed

[2018-06-01 05:01] daniel93cs commented on #135
The same with Youtube icon. please quick check

[2018-06-02 15:08] diegohaz commented on #133
Maybe @gorangajic should consider transferring the repo and the npm package to someone else altogether.

[2018-06-03 21:46] jayehmke commented on #133
@gorangajic I'd be more than happy to take over ownership/be a maintainer. I use it in a few projects already.

[2018-06-04 04:42] kamijin-fanta commented on #133
I made an organization of Github. And I invited a collaborator here.
https://github.com/react-icons

I think that only adding npm - owner is good for npm.
If publish npm package as a different name, we do not need to transfer this repo.
ref: https://docs.npmjs.com/cli/owner

[2018-06-04 05:05] JeffersonFilho commented on #133
Sounds good to me!

[2018-06-04 05:06] kamijin-fanta commented on #133
memo: If we start development with a new code base, the transfer of git repo may not be necessary :thinking_face:

[2018-06-04 08:42] gorangajic commented on #133
I have moved the repository to a new organization. You can start from scratch and I would recommend doing so because build and everything else is outdated. When you are ready to publish the new version on npm I will give access

[2018-06-04 08:48] kamijin-fanta commented on #133
Thanks!

[2018-06-04 10:52] JeffersonFilho commented on #133
Awesome!

[2018-06-04 12:54] jayehmke commented on #133
Sounds goo, thanks!

[2018-06-04 18:33] jethrolarson opened #140 "Documentation site is down"
http://gorangajic.github.io/react-icons is 404ing. It'd be nice to revive this as it's important for the design team I work with to use to pick icons.

[2018-06-04 18:47] AddShoppersJason commented on #140
This has been moved to [http://react-icons.github.io/react-icons/](url)

[2018-06-04 18:49] jayehmke commented on #140
This has been moved [here](http://react-icons.github.io/react-icons/)

[2018-06-04 18:51] jethrolarson commented on #140
Then I'll change the ticket to update the link ;)

[2018-06-04 18:57] jethrolarson commented on #140
Thanks for the quick update!
I still see old link at the top though.
![screen shot 2018-06-04 at 11 55 51 am](https://user-images.githubusercontent.com/32480/40935860-4b7db7b2-67ee-11e8-90a9-0d2477318e73.png)

[2018-06-04 19:03] jayehmke commented on #140
I don't have permission to update that link, @gorangajic or @kamijin-fanta will have to make that update.

[2018-06-05 13:28] ahpearce commented on #133
@gorangajic Is there any chance you could make the github.io.pages source available, or instructions to generate? I'm having trouble generating that page of icons that showed their component name.

[2018-06-05 13:41] kamijin-fanta commented on #133
@ahpearce did you try `npm run docs` ? see package.json, bin/generate-docs

[2018-06-06 12:56] ahpearce commented on #133
@kamijin-fanta Thanks, I actually hadn't. I initially got a
```Error: ENOENT: no such file or directory, open '/Users/user/dev/react-icons/publish/fa.html'```
but fixed just by creating the `/publish` sub-directory.

[2018-06-08 07:10] baba43 commented on #133
Is this an alternative?

https://github.com/wmira/react-icons-kit

[2018-06-08 10:27] Moo25 opened #142 "The svg component and the characters are not aligned finely"
Hi. react-icon's svg component and the characters are not aligned finely

for example,

[code]
[code]

When wrapping an svg component in a div, a little space is created on top of svg,  and the layout of the svg is slightly different.

thanks.

[2018-06-08 10:35] #142 closed

[2018-06-08 17:09] austinbutler commented on #133
If all you want is Font Awesome, I've been using the dev V5 version of [react-fontawesome](https://github.com/FortAwesome/react-fontawesome/tree/development).

[2018-06-09 19:43] adamellsworth commented on #134
Also not working:
- `react-icons/lib/md/forward{5,10,30}`
- `react-icons/lib/md/replay{5,10,30}`

[2018-06-11 08:32] lukassteiner opened #143 "Tiny mistake in doc"
In the docs at [http://react-icons.github.io/react-icons/fa.html](url), the path to FaHourglass1 should be `react-icons/lib/fa/hourglass-1` instead of `react-icons/lib/fa/hourglass1`.

Applies to FaHourglass2 and FaHourglass3 as well.

[2018-06-13 02:49] hellochar commented on #124
see https://github.com/react-icons/react-icons/issues/68

[2018-06-13 09:14] jawakarD commented on #56
`
ERROR in ./~/react-icon-base/lib/index.js
Module not found: Error: Cannot resolve module 'prop-types' in C:\Users\Jawahr\Desktop\Projects\my exercise\react project\node_modules\react-icon-base\lib
 @ ./~/react-icon-base/lib/index.js 13:17-38`
i dont know why i am getting this i already removed `prop-types` from `peer-dependencies` in `package.json`

[2018-06-14 05:14] luisherranz commented on #124
What do you mean?

[2018-06-15 17:55] #126 closed

[2018-06-16 14:31] KromDaniel commented on #143
Same for
react-icons/lib/md/rotate90-degrees-ccw``
should be renamed to
`react-icons/lib/md/rotate-90-degrees-ccw`

[2018-06-16 21:12] 0xcaff opened #145 "Update react-icon-base dependency"
https://github.com/react-icons/react-icons/blob/37a74eb29d4cc12bc37ee1f02c3f458bd630bb11/package.json#L64

[This package's](https://github.com/gorangajic/react-icon-base) latest version, (2.1.2) removes warnings emitted by yarn regarding a missing prop types peer dependency.

[code]

Please update to 2.1.2.

[2018-06-16 21:15] 0xcaff commented on #145
2.1.2 doesn't include the fix.

[2018-06-16 21:15] #145 closed

[2018-06-18 10:12] luisherranz commented on #124
Doesn't work for me:
https://codesandbox.io/s/jzymx64k1w

Both `<FaBeer />` and `<FaBeer style={{}} />` produce the same HTML output:
[code]

Am I still doing something wrong?

[2018-06-18 11:07] luisherranz commented on #124
I have added a couple of tests to the codesandbox:
[![Edit React icons verticalAlign problem (used as example)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/jzymx64k1w?module=%2Fsrc%2Findex.spec.js)

[2018-06-20 07:58] PeterShershov opened #146 "Add fa-times icon"
Hey,
There's no fa-times icon in the fa folder.

![screenshot from 2018-06-20 10-57-11](https://user-images.githubusercontent.com/16524839/41645176-d960cdd0-7478-11e8-942e-4f4e73b5c862.png)

It's a pretty essential asset as it used in a lot of apps as the "Close" icon.
[https://fontawesome.com/icons/times?style=solid](url)

Thanks!

[2018-06-20 08:51] PeterShershov commented on #146
I opened a PR: [https://github.com/react-icons/react-icons/pull/147](url)

[2018-06-20 13:35] PeterShershov commented on #146
Added a PR.

[2018-06-20 21:29] nwhitmont commented on #99
Hit this today, what's the deal?

[2018-06-21 16:07] samvk commented on #146
I believe this is the "FaClose" icon.

https://github.com/react-icons/react-icons/blob/master/fa/close.js

[2018-06-21 16:41] PeterShershov commented on #146
Cool, so we can just rename it?
I think it's crucial for this to be consistent with the original names.

WDYT @samvk ?

[2018-06-26 07:42] amnshojaei opened #148 "How to use md icons"
How can I **import** and **use** Material Design Icon?

[2018-06-28 07:56] kamijin-fanta commented on #133
Currently we are work for support with fa 5. It will be possible to use it if merged.
https://github.com/react-icons/react-icons/pull/141

[2018-06-29 03:57] kamijin-fanta commented on #123
Currently we are work for support with fa 5. It will be possible to use it if merged.
#141

[2018-06-29 03:58] kamijin-fanta commented on #111
I am working on improving the build speed in webpack. It will be possible to use it if merged.
#141

[2018-07-02 08:29] qron commented on #148
Import
[code]

Use
[code]

Hope it will help.

[2018-07-02 14:31] alexjoyner opened #149 "Icons not center in svg"
<img width="141" alt="screen shot 2018-07-02 at 10 16 34 am" src="https://user-images.githubusercontent.com/7675099/42169344-6b8df28e-7de1-11e8-9697-cfb83d4f0bf5.png">
It seems as if all the icons i've used aren't quite centered. Should I be manually centering the icons within the svg or is this a bug within react-icons?

[2018-07-05 16:07] amnshojaei commented on #148
thanks

[2018-07-05 16:07] #148 closed

[2018-07-16 18:09] thesmuggle opened #151 "Readme typo: md icon example path incorrect"
`import {MdCancel, MdChat, MdCheck} from 'react-icons/md';`
In the above line, there is a `/lib` missing. It should read:
`import {MdCancel, MdChat, MdCheck} from 'react-icons/lib/md';`

[2018-07-16 18:13] thesmuggle commented on #151
PR: https://github.com/react-icons/react-icons/pull/152

[2018-07-19 17:02] sandeepreddy19 opened #154 "React Icons Imports everything even when included 2 or 3 icons"
I had imported below icons in Create React App and I see that it included the whole library in the bundle. Attached is a screenshot. How do we get around this?

import {
  FaBarChart,
  FaDatabase,
  FaMinus,
  FaPlus,
  FaStickyNote
} from 'react-icons/lib/fa'
import { IoChatboxWorking } from 'react-icons/lib/io'

![screen shot 2018-07-19 at 9 58 14 am](https://user-images.githubusercontent.com/1

[2018-07-20 08:30] JaccoGoris commented on #154
I have the same issue
![image](https://user-images.githubusercontent.com/7052832/42992103-e6b9d426-8c07-11e8-8fe3-86c66dc9bf68.png)

[2018-07-22 14:21] sapegin commented on #135
You need to use `3.0.0-beta.1` to have it. But the Medium is still old ;-/

[2018-07-23 16:47] sandeepreddy19 commented on #154
@JaccoGoris Did you find any fix for it?

[2018-07-23 16:47] sandeepreddy19 commented on #154
@JaccoGoris  Did you find any fix for this issue?

[2018-07-25 14:55] JaccoGoris commented on #154
@sandeepreddy19  I found a fix by including icons like this:
`import { MdPublic } from 'react-icons/md/index.mjs';`
which resulted in correct threeshaking. the downside is that my build time went from 3 seconds to 225 seconds.. (3.75min) so.. 75x slower when using this method with md icons.
Then, when I also used some fa icons too, it went up to 279 seconds (93x).
But at least my bundle size went

[2018-07-25 15:34] JaccoGoris commented on #154
@sandeepreddy19
I just figured out how to set it up correctly!
unfotunately you have to import them all separately from the lib files, like this:
[code]
instead of like this:
[code]
which would have been a lot nicer.
But I got only the icons I need now and a build time of 5 seconds!

[2018-07-26 03:19] cjs840312 opened #155 "the doc link was dead in readme"
Hey, I notice that the doc lint in your readme.md was dead(404)
hope you can fix it as soon as possible

[2018-07-28 11:53] antoinerousseau commented on #155
Fixed in #144

[2018-07-28 11:53] #155 closed

[2018-07-28 11:54] antoinerousseau commented on #154
Will be better with #141

[2018-07-28 11:54] antoinerousseau commented on #151
Will be better in #141

[2018-07-30 03:59] #151 closed

[2018-07-30 04:11] kamijin-fanta commented on #146
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:11] #146 closed

[2018-07-30 04:13] kamijin-fanta commented on #143
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:13] #143 closed

[2018-07-30 04:13] kamijin-fanta commented on #137
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:13] #137 closed

[2018-07-30 04:15] kamijin-fanta commented on #135
maybe fix in react-icons@3.0.0 / pr: #141
Can you check it?

[2018-07-30 04:15] kamijin-fanta commented on #134
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:15] #134 closed

[2018-07-30 04:17] kamijin-fanta commented on #133
The repository was moved to orgs.
Welcome contribution.

[2018-07-30 04:17] #133 closed

[2018-07-30 04:19] kamijin-fanta commented on #124
fix in react-icons@3.0.0 / pr: #141
It can be set with the context API of React 16.3. try new version!
see: https://github.com/react-icons/react-icons#configuration

[2018-07-30 04:19] #124 closed

[2018-07-30 04:19] kamijin-fanta commented on #123
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:19] #123 closed

[2018-07-30 04:19] kamijin-fanta commented on #111
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:19] #111 closed

[2018-07-30 04:21] kamijin-fanta commented on #108
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:21] #108 closed

[2018-07-30 04:22] kamijin-fanta commented on #101
fix in react-icons@3.0.0 / pr: #141
try new version!

[2018-07-30 04:22] #101 closed

[2018-07-30 04:29] kamijin-fanta commented on #81
fix in react-icons@3.0.0 / pr: #141
new document site: https://react-icons.netlify.com/#/icons/md . try new version!

[2018-07-30 04:29] #81 closed

[2018-07-30 04:30] kamijin-fanta commented on #80
fix in react-icons@3.0.0 / pr: #141
use functional component. try new version!

[2018-07-30 04:30] #80 closed

[2018-07-30 04:31] kamijin-fanta commented on #50
Please open again if there is an update

[2018-07-30 04:31] #50 closed

[2018-07-30 04:32] #49 closed

[2018-07-30 04:34] kamijin-fanta commented on #48
If you have an update please comment again.

[2018-07-30 04:34] #48 closed

[2018-07-30 04:35] kamijin-fanta commented on #42
it is active now!

[2018-07-30 04:35] #42 closed

[2018-07-30 04:37] kamijin-fanta commented on #34
Package structure was changed from react-icons@3.0.0. try it.

[2018-07-30 04:37] #34 closed

[2018-07-30 04:39] kamijin-fanta commented on #19
If you have an update please comment again.

[2018-07-30 04:39] #19 closed

[2018-07-30 04:44] kamijin-fanta commented on #149
I could not see it on the latest react-icons@3.0.0.
please try it. new docs: https://react-icons.netlify.com/

[2018-07-30 04:47] kamijin-fanta commented on #114
ES Imports was supported from react-icons@3.0.0.
try it.
[code]

[2018-07-30 04:47] #114 closed

[2018-07-30 18:33] dparisotto-starcard opened #158 "Styles of Font Awesome in react-icons@3.0.1"
Hi, how can i use the regular style of an icon in Font Awesome?

[regular](https://fontawesome.com/icons/heart?style=regular)
[solid](https://fontawesome.com/icons/heart?style=solid)

Thank you

[2018-07-31 19:03] dhruv2204 opened #159 "react-icons support for server-side rendering."
Hey,

I have been using react-icons for some time. Does it support server-side rendering? I cannot make it work with ssr. It's showing [object Object] instead of SVG
I am using react 15.4 and react-icons 2.2.7

Thanks
Dhruv

[2018-08-01 14:56] wopian commented on #154
#141 doesn't seem to have had any effect on size. **2.2.7** with the old format was 6kb for 4 icons. Upgrading to **3.0.1** and migrating to `import { <icon> } from 'react-icons/md'` is now 350kb

[2018-08-01 15:01] antoinerousseau commented on #154
@kamijin-fanta any insight?

[2018-08-01 15:14] kamijin-fanta commented on #154
@wopian Please tell me the version of webpack.
I verified with webpack@3.8.1 / webpack@4.5.0.

If upgrade has no effect, please provide webpack.config.js.

[2018-08-01 16:11] wopian commented on #154
@kamijin-fanta `4.16.3`

Config: https://github.com/wopian/kitsu-season-trends/blob/master/webpack.production.config.js

[2018-08-01 16:13] sandeepreddy19 commented on #154
I am using the default webpack config provided by Create-React-App

[2018-08-02 00:02] frederikhors opened #160 "In 3.0 IoChatboxWorking is missing..."
In 3.0 IoChatboxWorking is missing...

[2018-08-02 02:53] kamijin-fanta commented on #154
@wopian I saw the configuration easily.

- It is necessary to add '.mjs' to resolve.extensions
  - like: `['.mjs', '.js', '.jsx']`
 - `.js` file is outputting commonjs. this is not optimized. should use .mjs files.
-. babelrc
  - add `"modules ": false` to preset env https://babeljs.io/docs/en/babel-preset-env/#modules
  - delete unnecessary plugin at production (example: `react-hot-loader/babel`)

[2018-08-02 02:54] kamijin-fanta commented on #154
@sandeepreddy19 I verified with react-script@1.1.4.
see: https://github.com/react-icons/react-icons/tree/master/packages/demo

please upload the smallest project including bug.

[2018-08-02 02:57] kamijin-fanta commented on #160
@frederikhors It looks like it is not included in the latest package.
ref: https://ionicframework.com/docs/ionicons/

[2018-08-02 02:59] kamijin-fanta commented on #158
It is not included now.
I think it should be added.

[2018-08-02 07:56] andyhu92 opened #162 "IconContext is not defined"
Project scaffolded with create-react-app 1.3.3
React version 16.4.1
React-icons version 3.0.2

Reproduce steps:
1. create-react-app a new project and install react icons
2. Simply include an icon (anyone) and put inside App.js render method
3. App crashed and got error message `ReferenceError: IconContext is not defined`

![error message](http://res.cloudinary.com/dvl0bnhhw/image/upload/v153319646

[2018-08-02 08:19] raduungurean commented on #162
I'm also getting the same error

[2018-08-02 08:55] Wmaileq commented on #162
Line 12 of iconBase.mjs needs to be:
`import { IconContext } from './iconContext';`

[2018-08-02 09:01] benoit-hocquet commented on #162
@Wmaileq suggestion fixes the error for me.

[2018-08-02 12:12] wopian commented on #154
Back down to 2kb after those changes 👍

[2018-08-02 12:32] antoinerousseau commented on #154
@kamijin-fanta many people use [create-react-app](https://github.com/facebook/create-react-app) without ejecting (see [webpack default prod config](https://github.com/facebook/create-react-app/blob/next/packages/react-scripts/config/webpack.config.prod.js)). it would be nice if the new 3.x version would work out-of-the-box with that small footprint for those users.

[2018-08-02 12:41] kamijin-fanta commented on #154
@antoinerousseau the size of the demo project is 37.84 KB in production build.
use three types of icon library: FaFolder, MdAccessibility, TiArrowDown.
not ejected.

demo project: https://github.com/react-icons/react-icons/tree/master/packages/demo

[2018-08-02 12:49] kamijin-fanta commented on #162
sorry.
I will fix it now.

[2018-08-02 14:16] andyhu92 commented on #162
It's working now. Thanks!

[2018-08-02 14:16] #162 closed

[2018-08-02 18:54] morgs32 opened #165 "Need to put attributes on svg in ie11"
I need to put `focusable="false"`, `aria-hidden="true"`, and `tab-index="-1"` on every `svg` for accessibility issues in ie11 and edge.

See here:
https://stackoverflow.com/questions/18646111/disable-onfocus-event-for-svg-element

PR incoming.

[2018-08-02 22:19] MaxMcKinney opened #167 "[v3] Error during gatsby build (UglifyJs) "SyntaxError: Name Expected""
When compiling my project with react icons running v3+ it now fails during my build process (gatsby with UglifyJs)

[code]

It runs fine on my test server without the UglifyJs plugin running.

react-icons is v3.0.4

[2018-08-03 01:03] MaxMcKinney commented on #167
Looks like this is a gatsby issue with how they are compiling packages with babel. I'm closing this issue here.

[2018-08-03 01:03] #167 closed

[2018-08-03 07:53] kamijin-fanta commented on #165
I think can add API to set attributes with IconContext. I will try to implement this.

[code]

[2018-08-03 11:35] morgs32 commented on #165
I thought about it, but then couldn't think of any **other** attribute to put on an svg. Also seemed pretty safe to assume that an icon shouldn't be focusable.
But using context sounds fine!

[2018-08-05 19:00] nscarcella commented on #110
Any chance this will get implemented in the near future?

[2018-08-06 05:34] kamijin-fanta commented on #165
@morgs32 please try react-icons@3.0.5  https://www.npmjs.com/package/react-icons/v/3.0.5

[2018-08-06 13:51] kamijin-fanta commented on #110
@silvenon It may be resolved by using react-icons@3.0.0 or higher.

[code]

[2018-08-07 00:42] JeffersonFilho opened #169 "Not working on create-react-app"
I finally got some time to test the new version! Thanks @kamijin-fanta for the hard work and the timing you have dedicated to this.

But for some reason it seems that version 3.0 doesn't work with create-react-app, is just me or is this issue happening with someone else as well?

[![Image from Gyazo](https://i.gyazo.com/d9818f5c764245e70c8d87e1ceac53a7.png)](https://gyazo.com/d9818f5c764245e70c8d8

[2018-08-07 05:53] kamijin-fanta commented on #169
@JeffersonFilho there are few information that can be read from errors. please upload this project.

[2018-08-07 09:35] JeffersonFilho commented on #169
My bad @kamijin-fanta, I will add the steps that I did.

```yarn add react-icons```

[code]
[![Image from Gyazo](https://i.gyazo.com/14e0071ad511be8df3f2e8a55d8dfdf5.png)](https://gyazo.com/14e0071ad511be8df3f2e8a55d8dfdf5)

[2018-08-07 09:38] kamijin-fanta commented on #169
I do not know the version of webpack or react-script etc.
Please upload the repository on github, not paste.

[2018-08-07 09:59] davidesigner opened #170 "v3.0.5 is not working with react-uglify"
Hi there,

I am using the `react-icons@3.0.5`.

My imports are made like the following: `import { MdAdd } from 'react-icons/md';`.

All is working when I start my webpack dev server but when I try to build my app, I have the following error from my `webpack.optimize.UglifyJsPlugin`:
[code]

Have you any ideas to fix it? Thanks.

[2018-08-07 10:28] kamijin-fanta commented on #169
I am not doing technical support for React Project. If you have problems with react-icons, please provide the smallest repository.

[2018-08-07 10:28] #169 closed

[2018-08-07 10:48] JeffersonFilho commented on #169
I understand, but at any moment I was asking for the 'technical support' for that project, I was just mentioning that react-icons wasn't working on create-react-app.

But since it works on a fresh install, this issue can be closed.

[2018-08-07 14:06] witcradg opened #172 "Warning: Unknown prop attr on tag"
bundle.js:8939 Warning: Unknown prop `attr` on <svg> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop
    in svg (created by IconBase)
    in IconBase (created by Unknown)
    in Unknown
    in div

version:     "react-icons": "^3.0.5"
Chrome Version 68.0.3440.84 (Official Build) (64-bit)
using Babel and WebPack

I've stripped everything out of the project

[2018-08-07 14:15] kamijin-fanta commented on #154
@markusenglund thanks for the good feedback.

about 3, 4 you are right.
part 1 and 2 are also correct. project should prepare troubleshooting guide.

projects created with creacte-react-app should normally resolve .mjs first. In versions older than 1.0.15, the bundle size appears to be large.
ref: https://github.com/facebook/create-react-app/blob/v1.1.4/packages/react-scripts/config/webpack.config

[2018-08-08 01:53] kamijin-fanta commented on #170
@davidesigner can you provide the smallest repository?

[2018-08-08 01:56] kamijin-fanta commented on #172
I understand this problem.
we will need fix.

[2018-08-08 13:37] davidesigner commented on #170
@kamijin-fanta I was using Webpack 1.
I moved my project from v1 to v3 and all is working now.

[2018-08-08 13:37] #170 closed

[2018-08-08 15:20] jktravis opened #173 "All icons have a generic name of Component when snapshot"
Is there something I'm doing wrong here, or do we lose the icon names when upgrading?

Before upgrading, if I add an icon of `<FaBeer/>` that name would show up in the snapshot. Now, regardless of the icon, I just get `<Component/>`.

[2018-08-09 00:04] justswim commented on #158
I can't seem to use the regular icons  - can you please show an example of how to use the regular, outline (not solid) heart?

[2018-08-09 01:07] kamijin-fanta commented on #173
are you using jest?
generation logic of the component was changed, so may have been changed.

[2018-08-12 23:38] chrismaltais commented on #167
@MaxMcKinney did you find a workaround for this? I'm also getting the error.

[2018-08-13 14:04] PaulRBerg opened #174 "'react-icons/fa' does not contain an export named 'FaCloudDownload'"
## Behavior
Albeit specified on https://react-icons.netlify.com, `FaCloudDownload` is not exported in `react-icons/fa`.

## Versions
- npm `6.3.0`
- react-icons `3.0.5`

[2018-08-13 14:08] PaulRBerg commented on #174
According to the fontawesome [website](https://fontawesome.com/icons?d=gallery&q=cloud), `FaCloudDownload` has been renamed to `FaCloudDownloadAlt` in the free version. I think that the problem is actually with your [web app](https://react-icons.netlify.com) docs.

I'll leave this issue open until someone notices it, but it's good to be closed.

[2018-08-13 21:43] mujuni88 commented on #167
I'm also getting this error

[2018-08-13 21:47] MaxMcKinney commented on #167
This issue is related to those of us still running Gatsby V1. In v1 the webpack bundler included is using a version of UglifyJS that does not the ES6 syntax included in the react icons version 3+.

The only fixes are to upgrade to Gatsby Beta V2 or downgrade react icons to 2.x

[2018-08-14 07:01] curran commented on #154
It may be nice to link to this issue in the README where the ES6 imports are recommended.

Something like this:

Thoughts?

[2018-08-15 23:13] effinrich opened #176 "enzyme/jest tests can't find react-icons components"
Hi,
I just finished upgrading and now all my tests that use react-icons are breaking.

The following code fails with result 0, which worked fine with the previous version:
`expect(wrapper.find('FaChevronDown').length).toBe(1)`

Is this a bug or is there a workaround?  Seems like a very odd feature.

[2018-08-17 08:08] pnicolli commented on #158
@justswim They are not included at this time (if you check [here](https://github.com/react-icons/react-icons/blob/master/packages/react-icons/src/icons/index.js), you can see it only exports brands and solid), but I think they should eventually be added.

Removing support for regular icons is causing issues in the migration from version 2. For example, I had `FaCircle` and `FaCircleO` in my app, b

[2018-08-20 04:50] philcockfield opened #177 "MdArrowDownward malformed?"
I'm importing the material-design arrows and setting their color.  They all take the color fine except for the `MdArrowDownward` version.  I wonder if the SVG data is different or malformed in some way?

[code]

![image](https://user-images.githubusercontent.com/185555/44320925-155a6f80-a499-11e8-86fd-a856d2845876.png)

[2018-08-22 08:07] kamijin-fanta commented on #174
if copy, you will know the correct icon name.
![image](https://user-images.githubusercontent.com/1541187/44451123-c0039700-a62d-11e8-9ed2-879fc4302daa.png)

[2018-08-22 08:07] #174 closed

[2018-08-22 08:08] kamijin-fanta commented on #176
Please submit the minimal sample repository.

[2018-08-22 08:19] kamijin-fanta commented on #177
unlike other svgs, fill is specified....

since the MD is not active, it may not be fix.
I will consider deleting all fill attributes at build time.

[code]
from: https://raw.githubusercontent.com/google/material-design-icons/master/navigation/svg/production/ic_arrow_downward_48px.svg

[2018-08-22 20:04] pzenger commented on #154
Getting this issue with Gatsby v2

[2018-08-23 01:27] nickhaughton opened #178 "Create react app failed to minify"
When minifying my project using create react app, it fails to minify `./node_modules/react-icons/fa/index.js:2 `

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

Is there a reason for this? Can it be cleaned up?

[2018-08-23 08:09] philcockfield commented on #177
Ah, so that's inconsistent with the others.  It must be a bug in the material exports, as it's the only one that doesn't take the color.

That would be awesome.

[2018-08-23 16:06] kruulik opened #179 "New Import style documentation"
*On the pain page:*
[code]

*On the PR documentation:*
[code]

[2018-08-23 16:06] kruulik commented on #179
Is it `"react-icons/lib/fa"` or `"react-icons/fa"` ??

[2018-08-23 19:39] BramVanroy opened #180 "attr="[object Object]""
When rendering icons from Feater, I noticed that the HTML has a mistake in it. The `attr` attribute on SVG is filled by an object.

[code]

This might also be the case for other fonts.

[2018-08-26 15:12] Woolseyyy opened #181 "How to import compiled version?"
The guide in readme confuses me. I want to import compiled version because I don't want to use babel to compile my node_modules.
I tried with:
`import {FaChevronCircleLeft as BackIcon} from 'react-icons/lib';`
but BackIcon is undefined.
What's the correct importing method?
Thank you!

[2018-08-26 23:55] Slapbox commented on #180
I'm also seeing this on all instances of `react-icons` components

[2018-08-27 00:01] Slapbox commented on #158
@gorangajic @kamijin-fanta is there a plan to address this? Just started using `react-icons` and it's incredible, but this stopped me dead in my tracks.

[2018-08-27 07:00] kamijin-fanta commented on #158
I think the work itself is easy.
Please tell me how to make Solid / Regular coexist. There are options to give some prefix / suffix.

- option 1
   - FaHeart
   - FaHeartReg or FaHeartR
- otpion 2
   - FaHeart
   - FaRegHeart or FaRHeart

[2018-08-27 16:16] Slapbox commented on #158
I like option 1 better personally, but I agree with @justswim. Option 2 would be better for consistency with Font-Awesome's docs.

[2018-08-27 19:39] elramus commented on #154
I'm having this issue using Laravel Mix's webpack config. I'm using just one icon and it's adding the entire font awesome library. I'd like to try your solution, @kamijin-fanta, but I'm not really sure how to go about it.

Mix lets you add webpack customizations like so:
[code]
to which I added:
[code]
but that didn't seem to fix it. I'm a bit of a webpack noob, so any pointers would be great. FWI

[2018-08-27 23:33] ronaldroe opened #182 "Version 3.0.5 Fails Build With Create-React-App"
Upon updating to the latest version in hopes of getting access to more icons, I noticed that to get the icons to work while developing, I couldn't go through `/lib` as is recommended. So, importing looks like this:
[code]
That works during development. However, the build process can't resolve it. Oddly, only FontAwesome works through `/lib`, and the build process can't resolve it either.

Using `r

[2018-08-28 06:15] moshensky commented on #158
+1 for consistency with font-awesome documentation

[2018-08-29 06:29] sensorii opened #183 "Font Awesome Heartbeat icon missing"
I can't find it when upgrading from react-icons v2 to v3.

https://github.com/react-icons/react-icons/blob/2.2.7/fa/heartbeat.js
https://fontawesome.com/icons/heartbeat?style=solid

It is missing?

[2018-08-30 18:52] itsalysialynn commented on #181
```import { FaChevronCircleLeft as BackIcon } from 'react-icons/lib/fa/chevron-circle-left';```

[2018-08-30 18:53] itsalysialynn commented on #181
That's the best way to import it, because you are not importing the whole library.  You will also see it done like this:

```import { FaChevronCircleLeft as BackIcon } from 'react-icons/lib/fa'; ```

This imports the whole Font Awesome library so it is way larger.

[2018-08-30 18:59] itsalysialynn commented on #179
```react-icons/lib/fa```

But, if you want to just import the icon you need, this is better:

```react-icons/lib/fa/beer```

[2018-08-30 19:57] Woolseyyy commented on #181
@itsalysialynn I have tried the latter way, but lib has no directory below

[2018-08-31 09:00] kamijin-fanta commented on #179
Which file should be modified?

[2018-08-31 09:01] kamijin-fanta commented on #178
@nickhaughton can you provide the smallest repository?
It works with demo project using create-react-app.
https://github.com/react-icons/react-icons/tree/master/packages/demo

[2018-08-31 09:04] kamijin-fanta commented on #181
please see reference. https://react-icons.netlify.com/#/icons/fa
`lib` dir used in old version.

[code]

[2018-08-31 09:04] kamijin-fanta commented on #183
FaHeartbeat?

[2018-08-31 09:09] Woolseyyy commented on #181
@kamijin-fanta
you mean, if I want to import compiled icon, I must use old version?

[2018-08-31 11:44] kamijin-fanta commented on #181
@Woolseyyy I do not understand your message.
I want you to see a demo project.

https://github.com/react-icons/react-icons/tree/master/packages/demo

[2018-08-31 11:56] Woolseyyy commented on #181
@kamijin-fanta
I have read it.
The importing way in document is es6, needing babel compile this module.
I notice that document mention another way to import icons from compiled directory. But I don't know how to.
I don't want to use babel to compile node_modules. But es6 can't run on low browsers.

[2018-09-02 15:47] Woolseyyy commented on #181
@kamijin-fanta

This is in readme. Can you give me an example about it?

[2018-09-03 01:05] kamijin-fanta commented on #181
@Woolseyyy I'm sorry. The above description is an old description. I delete it.

You do not need to build node_modules with babel.
es modules are supported by webpack.

[2018-09-03 01:14] kamijin-fanta commented on #182
@ronaldroe Please submit the minimal sample repository.

[2018-09-03 01:23] #135 closed, assigned to nobody

[2018-09-03 01:26] kamijin-fanta commented on #112
The latest version is 3. If the problem persists, please provide a minimal repository.

[2018-09-03 01:26] #112 closed

[2018-09-03 01:27] kamijin-fanta commented on #109
The latest version is 3. If the problem persists, please provide a minimal repository.

[2018-09-03 01:27] #109 closed

[2018-09-03 01:28] kamijin-fanta commented on #106
see https://react-icons.netlify.com/#/icons/md

[2018-09-03 01:28] kamijin-fanta commented on #92
The latest version is 3. If the problem persists, please provide a minimal repository.

[2018-09-03 01:28] #92 closed

[2018-09-03 01:29] kamijin-fanta commented on #87
If the problem persists, please provide a minimal repository.

[2018-09-03 01:29] #87 closed

[2018-09-03 01:30] kamijin-fanta commented on #113
duplicate #79

[2018-09-03 01:30] #113 closed

[2018-09-03 01:31] kamijin-fanta commented on #78
It is currently implemented. thx.

[2018-09-03 01:31] #78 closed

[2018-09-03 01:32] kamijin-fanta commented on #61
Currently no longer use react-icons-base.
thx.

[2018-09-03 01:32] #61 closed

[2018-09-03 01:33] kamijin-fanta commented on #44
Use TypeScript instead of PropType.

[2018-09-03 01:33] #44 closed

[2018-09-03 01:34] kamijin-fanta commented on #40
Details are unknown.

[2018-09-03 01:34] #40 closed

[2018-09-03 01:35] kamijin-fanta commented on #39
The latest version is 3. If the problem persists, please provide a minimal repository.

[2018-09-03 01:35] #39 closed

[2018-09-03 01:35] kamijin-fanta commented on #11
fix in version 3.
thx.

[2018-09-03 01:35] #11 closed

[2018-09-03 01:41] kamijin-fanta commented on #180
duplicate #172

[2018-09-03 01:41] #180 closed

[2018-09-06 00:05] sensorii commented on #183
that works, I see it now.  thanks!
Must've been something temporarily mixed up with my development environment.  I see that [fa/heart-o](https://github.com/react-icons/react-icons/blob/2.2.7/fa/heart-o.js) is what is actually missing(?), and I see outline versions for Font Awesome icons discussed [here](https://github.com/react-icons/react-icons/issues/158).

[2018-09-06 00:05] #183 closed

[2018-09-07 05:53] obouchari commented on #179
If you're using version 2:
`import FaBeer from 'react-icons/lib/fa/beer';`
For version 3 use:
`import { FaBeer } from 'react-icons/fa';`

Reference: https://www.npmjs.com/package/react-icons#migrate-from-version-2---3

[2018-09-07 08:52] kamijin-fanta commented on #158
please try `yarn add react-icons@next` .
FaRegTimesCircle etc. should be available!

[2018-09-07 16:07] eric-personal opened #186 "name expected causing build error."
Error when trying to build project.
[code]

I'm importing the font as the docs suggest.

`import { IoIosArrowDropleft, IoIosArrowDropright } from 'react-icons/io';`

I'm using "react-icons": "^3.0.5"
Anyone have any ideas on how to fix this issue ?

[2018-09-08 15:07] austinpray commented on #186
It’s because uglify doesn’t know how to read es6.

I fixed this in my build by including react-icons in my transpiration. There is probably a better solution but it’s Saturday.

[2018-09-08 17:09] austinpray commented on #186
@eric-personal can you see if this fixes your issues? https://github.com/react-icons/react-icons/pull/187

[2018-09-11 03:13] SBoudrias commented on #173
Sounds like it's now missing a `displayName` static property on each icon components.

[2018-09-12 11:31] mslooten commented on #182
@ronaldroe I had the same issue. You might want to try to upgrade `react-scripts` to version `1.1.5`, that resolved the issue for me.

[2018-09-18 17:00] KevinKons commented on #4
I am using `import CalendarIcon from 'react-icons/lib/fa/calendar-plus-o` but i'm still having the error

Failed to compile.

./src/components/App.js
Module not found: Can't resolve 'react-icons/lib/fa/calendar-plus-o' in 'C:\Users\Avell\Documents\GitHub\CursoReactUdacity\udacimeals\src\components'

[2018-09-19 09:58] wugyresearcher opened #188 "Add FA Signatur"
Signatur Icon is missing

[https://fontawesome.com/icons/signature?style=solid](https://fontawesome.com/icons/signature?style=solid)

[2018-09-19 15:31] Stalinko commented on #154
I have the same problem as @elramus
Standard installation of Laravel Mix with ReactJS 16.5
Installed latest React-Icons (3.1.0) and imported 3 icons + `IconContext`:

[code]

And my compiled JS grew up by 900kb !

Solutions mentioned here don't help :(
was anybody able to make it work properly with Laravel Mix ?

[2018-09-19 15:48] elramus commented on #154
@Stalinko  I ended up switching over to [React FontAwesome](https://github.com/FortAwesome/react-fontawesome), because React Icons only carries a subset of FontAwesome's icons. Had a tree-shaking issue there too actually, but was able to resolve and it works great now.

[2018-09-20 17:36] dsmartins98 commented on #4
@KevinKons You should import the module as follows: `import {FaCalendarPlus} from 'react-icons/fa'`

[2018-09-22 15:45] jtan4nih commented on #178
I have the same issue:

Failed to minify the code from this file:

        ./node_modules/react-icons/fa/index.js:2

[2018-09-22 16:39] ahutchings commented on #172
@kamijin-fanta @witcradg This was addressed in #184 which is in the [v3.1.0 release](https://github.com/react-icons/react-icons/releases/tag/v3.1.0).

[2018-09-22 17:30] ahutchings opened #189 "Icon className includes string "undefined""
**Describe the bug**
When rendering an icon with a className, and there is no className set in IconContext, the resulting className includes the string "undefined".

**Minimal sample repository**
https://codesandbox.io/s/53n74mxz24

**Expected behavior**
The resulting className should only consist of the className string provided via props.

**Screenshots**

<img width="865" alt="screen shot 2018-

[2018-09-23 10:27] Abisar opened #190 "color attribute does not affect MdFiberManualRecord"
**Describe the bug**
`MdFiberManualRecord` has a fill color on it's circle. `color` attribute does not change the icon color.

**Expected behavior**
`color` should set the color like every other icon.

[2018-09-27 22:21] frederikhors opened #191 "FontAwesome 5 "Bell" icon is different"
FontAwesome 5 "Bell" icon is different. Why?

https://fontawesome.com/icons/bell?style=solid

[2018-09-28 12:51] antoinerousseau commented on #154
`.mjs` is now being abandoned anyway: https://github.com/facebook/create-react-app/issues/5103

[2018-09-28 20:35] JaccoGoris commented on #154
won't this create issues then with the current setup?

[2018-09-30 17:58] catchergeese commented on #154
Are there any plans to get compatibility with create-react-app (2.x) back on track?

[2018-10-02 17:14] axelkennedal opened #192 "Unclear how to use"
**Is your feature request related to a problem? Please describe.**
It is not clear how to use any other icon pack than the Font Awesome one. I've tried looking around the repo for occurances of "feather" without finding anything.

**Describe the solution you'd like**
Please provide examples for each icon pack.

**Describe alternatives you've considered**
Not using this package.

**Additional conte

[2018-10-02 22:29] frederikhors opened #193 "Using it with `create-react-app v2` import everything in final bundle."
Using it with `create-react-app v2` import everything in final bundle using this import:

`import { FaBell } from 'react-icons/fa'`

How to fix this?

Maybe Babel 7 which is the news in `create-react-app`? Changelog: https://reactjs.org/blog/2018/10/01/create-react-app-v2.html

[2018-10-04 19:03] jptissot commented on #193
I have the same issue. This might be because they dropped support for .mjs files.

[2018-10-04 19:10] jptissot commented on #154
Looks like they added .mjs support back !! https://github.com/facebook/create-react-app/releases/tag/v2.0.4

[2018-10-04 19:10] jptissot commented on #193
Well I spoke too quickly. https://github.com/facebook/create-react-app/releases/tag/v2.0.4 They just re-added .mjs support.

[2018-10-05 06:43] jgidlow commented on #154
I'm currently using TypeScript with a target version of es5 and because of this tree shaking is not working with Webpack since it relies on the es6 module syntax. With 3.x of React Icons this leads to the entire icon library to be included in my output bundle.

The only workaround I've found for this problem is to declare all the icons I'm using in my own module that I then use instead of importin

[2018-10-06 14:50] stavalfi commented on #192
+1

I have no idea actually show on the screen an icon.

[2018-10-08 04:53] ivan-aksamentov commented on #193
Regardless of `create-react-app`, in case you are getting bundles of ginormous sizes, even when with importing only a couple of icons from `react-icons`, try to add `.mjs` to the [list of file extensions resolved by webpack](https://webpack.js.org/configuration/resolve/#resolve-extensions). Make sure you don't forget the rest of extensions you need (e.g. for JSX and Typescript):

`webpack.config.j

[2018-10-08 18:49] transluciddata opened #194 "How do I remove the underline asthetic from react-icons?"
I am having some problems trying to remove the underline aesthetic in react-icons. I tried to remove it with 'text-decoration: none', but didn't do anything. Though, I am able to change size or colour. Could anyone point me out what I am missing? There is any way to avoid this underline aesthetic in a global way? Thanks in advance!

`import React from 'react'
import { FaFacebook, FaInstagram} from

[2018-10-10 14:19] mikelax commented on #192
You can [look at the docs](https://react-icons.netlify.com/#/icons/fi) that should each set of icons with the appropriate namespace.

ie. here is how you would use the google material design github logo.
`import { GoMarkGithub } from 'react-icons/go';`

Here is a feather import:
`import { FiAlertTriangle } from 'react-icons/fi';`

[2018-10-11 08:31] kamijin-fanta commented on #191
version of fontawesome is 5.0.13.
I will update it soon.

[2018-10-11 08:31] kamijin-fanta commented on #192
please see documents site
https://react-icons.netlify.com/

[2018-10-11 08:31] #192 closed

[2018-10-11 08:37] kamijin-fanta commented on #194
It does not seem to be related to react-icons.

[2018-10-11 08:37] #194 closed

[2018-10-11 08:41] kamijin-fanta commented on #193
.mjs should be given priority over .js.

like:

[code]

https://github.com/facebook/create-react-app/blob/v2.0.4/packages/react-scripts/config/webpack.config.prod.js#L218

[2018-10-11 08:48] kamijin-fanta commented on #189
@ahutchings
I'm sorry for the late reply.
PR is welcome.
It is preferable not to use additional libraries.

[2018-10-11 08:49] kamijin-fanta commented on #178
There is no update

[2018-10-11 08:49] #178 closed

[2018-10-11 08:50] kamijin-fanta commented on #172
it resolved!

[2018-10-11 08:50] #172 closed

[2018-10-11 09:40] kamijin-fanta commented on #182
no updates

[2018-10-11 09:40] #182 closed

[2018-10-11 14:18] kamijin-fanta commented on #178
why do you give `-1` without submitting a sample repository?

[2018-10-11 15:20] pnegahdar opened #196 "FontAwesome Arrows seem broken"
FaArrowRight and FaArrowLeft seem broken.

Import style:

[code]

Versions tested: `3.1.0-beta.1` and `3.1.0`

The icons rendered look like the image pasted. AltVersions are the same.
<img width="38" alt="screen shot 2018-10-11 at 11 17 34 am" src="https://user-images.githubusercontent.com/833067/46814857-a0dcd800-cd47-11e8-928f-01843583ddb9.png">

[2018-10-11 15:55] mikelax commented on #192
@axelkennedal  I will open a quick PR to update the README to point to the docs for icon usage.

[2018-10-12 01:12] #173 closed

[2018-10-12 01:12] #190 closed

[2018-10-12 01:12] #191 closed

[2018-10-12 01:37] kamijin-fanta commented on #158
fix in react-icons@3.1.0

[2018-10-12 01:37] #158 closed

[2018-10-12 01:39] kamijin-fanta commented on #177
fix in #195.
try react-icons@3.2.0

[2018-10-12 01:39] #177 closed

[2018-10-12 01:41] kamijin-fanta commented on #188
fix in #195.
try react-icons@3.2.0

[2018-10-12 01:41] #188 closed

[2018-10-12 01:44] kamijin-fanta commented on #176
@effinrich may be fix in #195.
try react-icons@3.2.0

[2018-10-15 19:51] drkohlipk commented on #189
Just submitted PR for fix.

[2018-10-16 00:45] #189 closed

[2018-10-16 03:32] philcockfield commented on #177
Thanks! 🍰
On Fri, 12 Oct 2018 at 2:39 PM, kamijin_fanta <notifications@github.com>
wrote:

--
*Phil* Cockfield

[2018-10-18 01:22] aaron-fe opened #199 "The feather icons are not latest"
**Describe the bug**
The [feather icons](https://react-icons.netlify.com/#/icons/fi) are different from https://feathericons.com/.

![image](https://user-images.githubusercontent.com/4002586/47125659-4b5c7a00-d2b7-11e8-91e9-c29c1c74d7f2.png)

![image](https://user-images.githubusercontent.com/4002586/47125668-57e0d280-d2b7-11e8-95c3-6e5bde1de308.png)

[2018-10-19 14:54] paulclifford commented on #199
Please update to the latest Feather Icons, they are soooo much nicer than these old ones.

[2018-10-24 06:30] #199 closed

[2018-10-24 06:38] kamijin-fanta commented on #199
there was a mistake. I'm sorry.
I want you to try `react-icons@3.2.2`

[2018-10-29 19:12] estermer opened #201 "Material Design Link off/ Unlink Icon"
There is no Material Design Icon for LinkOff.

here is the link to the icon: https://material.io/tools/icons/?search=link&icon=link_off&style=baseline

[2018-11-02 07:32] Abisar opened #202 "Importing MdLocationHistory causes error"
**Describe the bug**
`MdLocationHistory` does not exist in `react-icons/md/` but in the [demo](http://react-icons.github.io/react-icons/md.html) the icon exists.

[2018-11-05 17:16] donatoaz opened #203 "Github.io page VS Netlify page"
Hi folks! Is there any particular reason why there is a github.io page for the iconsets (seemingly outdated)?

http://react-icons.github.io/react-icons/index.html

VS

https://react-icons.netlify.com/#/

[2018-11-08 21:05] valerion1 opened #204 "TypeError: element.type.toLowerCase is not a function"
Hi guys!
i have some problem using react-icons. My project: react 16.5 + next.js 6.1, i installed package `npm install react-icons --save`
after i try to use:
[code]

and now while i load page i get this error:

[code]

What is causing this error?

[2018-11-13 16:38] marlonbaeten commented on #154
When building with [parcel](https://parceljs.org/) (v1.10.3) instead of webpack, react-icons is included completely, resulting in a huge bundle size.

There is no option is parcel to change the extension resolve order. [I think](https://github.com/parcel-bundler/parcel/blob/v1.10.3/src/Parser.js#L10) `js` has precedence over `mjs`.

Is anyone experiencing the same problem?
Or could someone give an

[2018-11-14 03:36] kamijin-fanta commented on #154
@marlonbaeten It might be solved with the this code...

[code]

but, It is not good-looking.

[2018-11-14 16:00] wopian commented on #154
@marlonbaeten there is an open issue tracking that problem 👌 https://github.com/parcel-bundler/parcel/issues/2238

[2018-11-19 12:18] Symous opened #205 "SCRIPT1010 IE11"
**Describe the problems**
When we run app with react-icons on IE11, the error occurred and point to react-icons.

**Expected behavior**
Running normally like Chrome,Safari,FireFox, etc...
**Errors**
* error in IE11
![image](https://user-images.githubusercontent.com/13534034/48706545-90b5f380-ec37-11e8-96f2-c90dbbc8a15a.png)
* and the pointed error position
![image](https://user-images.githubuserco

[2018-11-19 13:13] vietthanhbk1994 opened #206 "FaGooglePlus fontawesome icons don't fit their viewport"
**Describe the bug**
FaGooglePlus not fix their viewport

**Minimal sample repository**
Viewport
![image](https://user-images.githubusercontent.com/16161343/48709232-7845d900-ec37-11e8-8a1b-b6e64fd9f5f2.png)

Reality
![image](https://user-images.githubusercontent.com/16161343/48709273-914e8a00-ec37-11e8-88ae-7718eafa2eb0.png)

[2018-11-19 18:14] luke-schleicher commented on #154
@jgidlow

I'm a bit late to the tree shaking party here but I thought I'd leave a potential solution for others to see.

I'm also using TypeScript with a target of es5, with react-icons 3.2.2, and I have tree shaking working properly with webpack.

What worked for me was setting "module" to "es6" in my tsconfig.json. I had it set to "commonjs" before.

tsconfig.json
[code]

[2018-11-29 16:32] GFV450 opened #207 "TypeError: Cannot read property 'children' of undefined on SvgIcon.js file"
SvgIcon
node_modules/react-icons-kit/SvgIcon.js:72
[code]

[2018-12-14 17:52] foladipo commented on #204
Although I'm using v2 of this package, I am also experiencing this same problem. Attempts to use the package's icons fail with an error equivalent to the above. And when I eliminate using all of them, the app works fine.

[code]

Perhaps a pointer to the root cause of the bug is the fact that both of us experiencing this problem have server-side rendering set up?

[2018-12-14 18:22] foladipo commented on #204
**UPDATE**: I found a solution that works for me on v2 of this package. Instead of importing the icons like this:

`import FaSearch from "react-icons/lib/fa/search"`

I import them like this for files where the error above occurs:

`import * as FaSearch from "react-icons/lib/fa/search"`

[2018-12-17 07:17] kumarharsh commented on #203
The github.io page is for the older version (v2). The netlify one is for the new v3 version. I'd prefer if this was not changed for the meanwhile as there are devs like me who are still using v2 (v3 has some breaking changes which would need a refactor). It should be clarified in the github.io page that it's for v2.

[2018-12-18 00:44] #203 closed

[2018-12-18 00:46] kamijin-fanta commented on #202
@Abisar sorry. please see new documents.

old(version2): http://react-icons.github.io/react-icons/
new(version3): https://react-icons.netlify.com/

[2018-12-18 00:46] #202 closed

[2018-12-18 00:48] kamijin-fanta commented on #207
this package is managed by another repository.
https://github.com/wmira/react-icons-kit

[2018-12-18 00:48] #207 closed

[2018-12-18 00:49] kamijin-fanta commented on #206
@vietthanhbk1994 sorry. please see new documents.

old(version2): http://react-icons.github.io/react-icons/
new(version3): https://react-icons.netlify.com/

[2018-12-18 00:49] #206 closed

[2018-12-18 00:55] kamijin-fanta commented on #205
@Symous  if you still have errors, please provide a repository.
i think that problems is that version of webpack is old.

[2018-12-18 01:00] kamijin-fanta commented on #204
@valerion1 if you still cannot resolve this error, please provide repository.

[2018-12-18 07:21] gregbia opened #209 "Get array/object of all icons"
I'm trying to build an icon picker. Is it possible to generate an array/object of all the fonts?

[2018-12-18 16:05] valerion1 commented on #204
@kamijin-fanta @foladipo thanks for answers!

error resolved itself after updating most of the main packages (it seems the problem was in their interaction). I can assume that because of the update to [next.js](https://www.npmjs.com/package/next) to version 7.

[2018-12-31 15:41] flaska commented on #158
Thank you so much! :) 👍

[2019-01-04 14:07] steverecio opened #212 "Material Design Icon Style"
I'm able to import Material Design icons but how do I apply the icon style? Ie. outline, filled, rounded, etc. I'm currently only able to use filled icons but would like to import icons with style outline

https://material.io/tools/icons/?icon=folder&style=outline

[2019-01-04 14:20] steverecio commented on #212
Just realized the Readme header was a link to https://react-icons.netlify.com/#/

🤦‍♂️

[2019-01-04 14:20] #212 closed

[2019-01-07 09:10] ShanaMaid opened #213 "async load svg and cache it in localStorage"
thanks for your rep, that is very cool!

I have a tool named [archer-svgs](https://github.com/ShanaMaid/archer-svgs) that can async load svg and cache it in localStorage.Dont reload `100kb` svg bundle only for `1kb` svg update!

[2019-01-08 01:36] kamijin-fanta commented on #213
Thank you for an interesting proposal.

However, I think that it is unusual to include a 100kb bundle.
One application uses several icons.
If you configure Webpack correctly, you can bundle only the icons that are in use.

If you have problems with your project, look at this issue. https://github.com/react-icons/react-icons/issues/154

[2019-01-10 03:33] ShanaMaid commented on #213
thx!

[2019-01-10 03:33] #213 closed

[2019-01-10 16:15] antoinerousseau commented on #154
so, shall we keep .mjs or shall we make a more universally compatible v4 of this lib?

[2019-01-10 21:00] Slapbox commented on #154
[code]
Results in the error:
`Can't import the named export 'GenIcon' from non EcmaScript module (only default export is available)`

[2019-01-14 07:11] leon-jasper opened #214 "Website is not working"
The website appears to be down.
https://react-icons.netlify.com/ - 404

thanks anyway for this library :)

[2019-01-14 20:22] julian-linux opened #215 "Pro version"
Is possible to add the font awesome apid icons? Of course i'll pay for them

[2019-01-16 01:15] kamijin-fanta commented on #214
[code]
I can see... 🤔

[2019-01-16 01:16] kamijin-fanta commented on #215
Not supported now.

[2019-01-16 01:18] #176 closed

[2019-01-16 12:14] kamijin-fanta commented on #181
@odusseys my jest is working :smile:
https://github.com/react-icons/react-icons/blob/master/packages/demo/src/App.test.js

[2019-01-17 13:45] mcmwhfy commented on #154
Hey Guys, seems that a big part of icons are unavailable:
Attempted import error: 'FaLineChart' is not exported from 'react-icons/fa/index'.

Looking into node modules seems that the FaLineChart is not exported and there are a lot of icons in this situations.
Can someone take a look on that ?

[2019-01-17 13:51] mcmwhfy opened #216 "A lot of icons are missing from all packages"
Seems that a big part of icons are unavailable:

`Attempted import error: 'FaLineChart' is not exported from 'react-icons/fa'.`

Looking into node modules (fa/index.d.ts) seems that the FaLineChart is not exported and there are a lot of icons in this situations.
So basically now are only less than a half available :|

What could be the problem ?

    "react-icons": "^3.3.0",

[2019-01-20 11:20] odusseys commented on #181
You may not have the exact same setup as we do.
Either way this really isn't the point, we shouldn't have to compile code which is written in your "flavour" of javascript ; you can't assume exactly how people will be using it, and you can't expect them to rewrite their build configuration just to include your project.

Right now we've downgraded to v2 just because of this. We're not spending hours

[2019-01-21 13:44] kamijin-fanta commented on #181
goodbye. I blocked you.

Other people who are troubled want you to upgrade to new Webpack settings or new react-scripts. This project structure is the same as other libraries such as graphql, and you will fall down.

- GraphQL structure: https://unpkg.com/graphql@14.1.1/language/
- ReactIcons structure: https://unpkg.com/react-icons@3.3.0/lib/

jest does not support `.mjs`, so you need to use `.js

[2019-01-23 04:18] xunuoi opened #217 "The Checkbox ICON Graph doesn't locate in center place of SVG Stage"
**Describe the bug**

For `MdCheckBoxOutlineBlank`, `MdCheckBox`, `MdIndeterminateCheckBox` from `react-icons/md`, the path-graph doesn't locate in center place of SVG stage.

This would cause alignment issue with close characters .

Please check and fix it, thanks!

**Minimal sample repository**
[code]

**Expected behavior**
The path-graph should in the center place of SVG stage.

**Screenshots**

[2019-01-24 04:41] MirelesCloud opened #219 "Can we get Flaticon integrated?"
I would like to suggest Flaticon [https://www.flaticon.com/](url) to be added.  It's a huge library.

[2019-02-05 23:02] bensontrent commented on #216
You can either downgrade to v2, or update your code to use the new import methods of version 3.   See [https://github.com/react-icons/react-icons#migrate-from-version-2---3](https://github.com/react-icons/react-icons#migrate-from-version-2---3)

[2019-02-08 01:23] mrwadepro opened #220 "Add Fa-Meteor"
Can the meteor icon be added?

[`Icon`](https://origin.fontawesome.com/icons/meteor?style=solid)

[2019-02-10 02:22] mustafawm commented on #154
[code]
doesn't seem to work :\
[code]
 Error:
[code]

[2019-02-10 14:43] jquense commented on #154
can we please go back to being able to cherry-pick? relying on treeshaking is haphazard and inconsistent. It's an _optimization_ not something that we should be relying on as the main strategy for including what we use. Not to mention that `mjs` support is very inconsistent and it's implementation and behavior is still actively changing in tools

[2019-02-10 17:19] Slapbox commented on #154
@mustafawm can you copy your entire Webpack config into a Gist? Also, it looks like I used this code in the end along with the Webpack changes: `
import { FaTimes } from 'react-icons/fa';`

[2019-02-10 20:33] mustafawm commented on #154
Hi @Slapbox, here it is
https://gist.github.com/mustafawm/45e37b8d137fb09d10d3ccb51a609f70

Could it be the same webpack issue that fontawesome-react has?
https://fontawesome.com/how-to-use/with-the-api/other/tree-shaking#issues

[2019-02-10 20:42] Slapbox commented on #154
@mustafawm did you get it working? I'm not entirely clear since that last bit is in a blockquote. If so which workaround on that page helped you? #1, Using deep imports?

My Webpack config looks very similar, but I've got this line which may make a difference:

[code]

[2019-02-10 21:00] mustafawm commented on #154
I got fontawesome to work (by deep importing each icon)

Will try your suggestion and get back to you

[2019-02-10 23:28] mustafawm commented on #154
@Slapbox no success, still importing the whole thing! (even with importing from `index.mjs`)

[2019-02-11 09:09] jamby77 commented on #205
@kamijin-fanta what exactly do you need from the repository? Do you need webpack config ?

[2019-02-11 17:50] Slapbox commented on #154
@mustafawm sorry! Instead of `cwd` use `process.cwd()` - doubt it helps, but that's what I should have said in the first place.

[2019-02-12 02:09] mustafawm commented on #154
Tried that as well, still didn't work!

[code]
You should get the same error if you're running the same webpack v

[2019-02-12 09:33] kamijin-fanta commented on #205
@jamby77 I want the smallest repository where errors occur.

[2019-02-12 17:44] Slapbox commented on #154
@mustafawm I'm on `4.28.3` in case that makes any difference. Still though, `process.cwd()` should be a non-empty string, so I'm not sure why you'd be seeing that error.

[2019-02-17 21:27] zxti opened #222 "Vertical alignment is too high relative to normal text"
**Describe the bug**
All icons are too high relative to normal text, and relative to normal icon fonts (when not used via react-icons).

**Minimal sample repository**
https://codesandbox.io/s/v0v2o601ml

**Additional context**
#68 seems to no longer apply (vertical-align is already baseline).

[2019-02-21 17:10] Crizzooo commented on #154
This thread has many different things going on.

What is the best way to import and cherry pick specific icons on the current version without growing your bundle size by basically importing the entire libraries?

[2019-02-21 18:00] Slapbox commented on #154
@Crizzooo the entire thread is just trying to accomplish that. Wish it was as easy as telling you the best way. Have you tried the recommendations found above? There's at least 3 different methods to try if I recall. The one I posted works for me.

[2019-02-22 13:18] jquense commented on #154
tbh the best way i found was to downgrade to v2

[2019-02-22 13:30] abramobagnara commented on #154
This is also my solution, but it is rather unfortunate that we are forced to that.

[2019-02-22 13:50] curran commented on #154
@kamijin-fanta Explained early on "* It is necessary to add '.mjs' to resolve.extensions". This is a decision in how the library is authored that it seems is causing more friction than it should. It goes to show how being an early adopter of something like `.mjs` that "should eventually work for everyone" doesn't always go well.

IMO the best way forward is to modify how the library is authored to

[2019-02-22 14:49] jquense commented on #154
@TrySound is the wandering github treeshaking guru. If there is a way to do this without annoying config he would know

[2019-02-22 15:17] kamijin-fanta commented on #154
"game icon" has over 3000 varieties. Expanding them in one directory slows the operation of npm, Webpack and OS. This is why i am using Tree Shaking.

ref: https://react-icons.netlify.com/#/icons/gi

[2019-02-22 15:23] jquense commented on #154
I think that's great! unless treeshaking doesn't work 📦

Overall tho I'd prefer to send more time installing the library over shipping a lot unneeded code to users.

[2019-02-22 15:35] TrySound commented on #154
@curran .cjs will just broke node. And it's a hack around current workarounds.

Well this library looks quite treeshakable having only functions. .mjs is unreliable when using with webpack. It has an opinion to not deal with esm.js files which drops mjs usage at all and makes it useless. FWIV there is a problem with configs too.

Solution for this libraries is dropping .mjs in favour of single `mo

[2019-02-27 00:56] mustafawm commented on #154
@Slapbox sorry for the late response.

I just tried again. process.cwd() is **not** returning an empty string (_I must have made a mistake when I was trying the first time_).

Unfortunately, the issue is still happening. (even when importing from index.mjs).

[2019-02-27 02:33] arkadyt commented on #220
@mrwadepro, I think you'll have to make a PR yourself.

[2019-03-03 19:03] ChrisBrownie55 opened #223 "All icons should be memoized"
### Is your feature request related to a problem? Please describe.
I am trying to **avoid rerendering components** that shouldn't have to (i.e. icons and other non-stateful components).

### Describe the solution you'd like
It would be preferable to simply run each icon through **`React.memo`** before exporting, and while it might seem like this would add a significant amount of size to the output

[2019-03-04 16:13] chrisbrainerd opened #224 "Any reason xmlns isn't included by default onto each svg icon?"
**Is your feature request related to a problem? Please describe.**
I'm using this package with Leaflet, and in order to set one of these as a default icon, I have to do something like the following:
[code]
This had worked with a different icon library but isn't with this one.

**Describe the solution you'd like**
It turns out that this library doesn't add `xmlns='http://www.w3.org/2000/svg'`, whic

[2019-03-05 14:01] chrisbrainerd commented on #224
Relevant PR I just put up: https://github.com/react-icons/react-icons/pull/225

[2019-03-05 21:40] Wylkon commented on #214
works for me!

[2019-03-05 21:48] ChrisBrownie55 commented on #223
I believe I was incorrect about when `React.memo` should be used, my apologies.

[2019-03-05 21:48] #223 closed

[2019-03-06 00:07] #214 closed

[2019-03-06 03:54] kamijin-fanta commented on #154
I added package.json with reference to TrySound's opinion. thanks.
https://unpkg.com/react-icons@3.6.0-beta1/fa/package.json

Try it with `npm i react-icons@next`.

[2019-03-06 13:24] chrisbrainerd commented on #224
PR merged, closing. Thanks!

[2019-03-06 13:24] #224 closed

[2019-03-07 07:12] mustafawm commented on #154
Installed @next (got `3.6.0-beta1`)

Issue still persists even when applying the suggested solutions above (resolve process.cwd(), importing from mjs..).

[2019-03-07 07:46] kamijin-fanta commented on #154
My webpack will build successfully.
Please make the minimum settings and code that cause problems.
I feel that it is not a problem of react-icons.

[code]

[2019-03-07 07:59] TrySound commented on #154
I would use `.esm.js` instead of `.mjs`. Combination of mjs and module field makes webpack crazy. It's too opinionated about `mjs`.

We got this error because of this and it took a time to understand why it happens.
https://github.com/dmtrKovalenko/material-ui-pickers/issues/894

[2019-03-07 10:57] mustafawm commented on #154
@kamijin-fanta the build was failing, the issue is it's not tree-shaking! Instead it's loading the whole thing even when using one icon only

**I think** the issue is still there even with the snippet you posted (just reading the snippet)
`[7] ./src/index.js + 1 modules 1.2 MiB {0} [built]`    **<-- 1.2 MiB means it's loading the whole fa src?**

[2019-03-07 11:31] TrySound commented on #154
@mustafawm It's the size of module before bundling I guess. Treeshaking works. Here's not 1mb bundle.

[2019-03-07 11:41] mustafawm commented on #154
I just tried with a fresh `create-react-app` (https://codesandbox.io/s/vvw3wyv383)

- A simple test scenario (check main.js in the code sandbox)
<img width="1438" alt="screen shot 2019-03-07 at 10 08 43 pm" src="https://user-images.githubusercontent.com/13101565/53954081-3f1f6f00-4129-11e9-8fe3-033674a3ab02.png">

- A 'more in depth' ...after ejecting the react-app to use [Webpack Bundle Analyzer

[2019-03-07 11:47] TrySound commented on #154
@mustafawm I'm not surprised. it's cjs bundle. Replacing `.mjs` to `esm.js` will fix this.

[2019-03-07 11:50] mustafawm commented on #154
I get module not found when I try `mjs` and `esm.js` (codesandbox above)

[2019-03-07 11:53] TrySound commented on #154
Hah, it seems like codesandbox process mjs files with raw-loader like thing.
@mustafawm I mean wait until react-icons packages will be fixed with `.esm.js`.

[2019-03-08 03:39] kamijin-fanta commented on #154
published `v3.6.0-beta2`.

Added test code using webpack. https://github.com/react-icons/react-icons/blob/fix/modules/packages/webpack4-test/webpack.config.edit-resolve.js

[2019-03-09 14:49] kamijin-fanta commented on #216
Please refer to the document https://react-icons.netlify.com/#/icons/fa
[code]

[2019-03-09 14:49] #216 closed

[2019-03-09 14:53] kamijin-fanta commented on #222
please try it!

[code]

[2019-03-12 18:01] kalwalt commented on #79
@kvoth3 Does it is possible? I'm trying to stack two react-icons but i'm getting weird results. I'm trying to stack two icons in this way:

[code]
but icons are not stacked correctly, Fb icon is up shifted, instead in the same file this works:

[code]
i did something wrong or stacking is not supported at the moment?
Thank you.

[2019-03-16 07:10] yang commented on #222
@kamijin-fanta Thanks, but that doesn't work generally, since text is usually baseline-aligned, and baseline could be far off from middle, e.g.:

https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align

Some constant fudge factor offset seems more appropriate?

But I guess the bigger question is why this is happening for this library.  It doesn't seem to be an issue present in the original

[2019-03-16 07:13] zxti commented on #222
@kamijin-fanta Thanks, but that doesn't work generally, since text is usually baseline-aligned, and baseline could be far off from middle, e.g.:

https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align

Some constant fudge factor offset seems more appropriate?

But I guess the bigger question is why this is happening for this library. It doesn't seem to be an issue present in the original

[2019-03-20 22:57] Slapbox commented on #106
@kamijin-fanta it would be awesome if this library had the Material Community Icons and the Entypo set. If those were added I think this library would include all the icons in React-Native-Vector-Icons and then some. [I usually use their search](https://oblador.github.io/react-native-vector-icons/) to find a fitting icon since their search feature covers all the icon packs in one place. Unfortunat

[2019-03-20 23:24] rtman commented on #106
@Slapbox I would recommend [this package](https://www.npmjs.com/package/@mdi/react) instead, its easier to use tbh and has all material community icons

[2019-03-21 16:32] Shadowstep33 commented on #105
I don't believe this package pulls in the CSS so I'm of the opinion you'll have to define your own fa-spin class

[2019-03-24 01:49] Slapbox commented on #110
Should we assume this isn't a planned feature?

[2019-03-26 17:59] mix3d opened #226 "Typescripts definition too strict"
**Describe the bug**
When importing `GenIcon` to add your own icons to a project, the typescript definitions complain about a missing `child` field on all child IconTree objects, because of the strictly defined interface.

**Minimal sample repository**
[code]
[code]

**Expected behavior**
I would expect the provided TS definitions to approve react-icon provided icons.
defining the child param as o

[2019-03-28 22:17] Slapbox opened #227 "3.6 beta causes error: react-icons not found in [my node_modules directory] when trying to build Webpack DLL"
I upgraded to 3.6 to try to fix another issue and I noticed this. Not sure what change might cause this.

[2019-03-29 14:05] EmilHernvall commented on #154
I had this problem, and eventually realized that the order of extensions in `webpack.config.js` indicates priority. Moving `mjs` before `js` in that list solved my problem.

[2019-03-29 15:35] QuantumInformation opened #228 "Title attribute on icons"
It would be nice to do something like this:

                      <FaExclamationCircle  title="Site has unsaved changes" />

[2019-04-03 18:07] kevinschaich commented on #222
[code]

did the trick for me. Before:

![image](https://user-images.githubusercontent.com/9244728/55502027-89005580-5600-11e9-8af5-e4aa5a03ce1b.png)

After:

![image](https://user-images.githubusercontent.com/9244728/55501990-7c7bfd00-5600-11e9-8316-5db8fee1cb21.png)

Can you guys try that in one of your projects and see if that fixes the issue?

[2019-04-07 07:41] tim-soft opened #229 "Invalid DOM property `xmlns:xlink`. Did you mean `xmlnsXlink`?"
The initial React render always yields the error in the title with the GitHub icon. Other icons don't seem to throw this error.

[code]

**Minimal sample repository**
https://codesandbox.io/s/1ln0vn6xq

**Desktop (please complete the following information):**
 - Device: [PC]
 - OS: [Windows 10]
 - Browser [chrome]
 - Version [74]

[2019-04-10 01:45] midnightcodr commented on #154
@kamijin-fanta with v3.6.0-beta2 and parcel bundler I am still getting 1.2MB bundle size. I guess it's parcel-bundler's problem as I am getting a much smaller bundle with CRA. I reported [the issue](https://github.com/parcel-bundler/parcel/issues/2909) to parcel bundler repo.

[2019-04-15 22:21] paustria commented on #110
Please support this feature. I have to move away from `react-icons` because `title` doesn't support and the browser does not read icon.

[2019-04-15 22:22] paustria commented on #228
Was proposed here but didn't get merge. I'm not sure why. https://github.com/react-icons/react-icons/issues/110

[2019-04-16 09:32] kamijin-fanta commented on #228
Looks like it works. sample: https://codesandbox.io/s/0xlxzp9lmn

If you use TypeScript, it will be the effect of type definition.
 https://github.com/DefinitelyTyped/DefinitelyTyped/blob/584682b746557368e8adb3339ac973bd7da03740/types/react/index.d.ts#L2208-L2472

Does this code work?
[code]

[2019-04-16 09:36] kamijin-fanta commented on #227
please provide a repository.

[2019-04-16 09:38] #181 closed

[2019-04-16 09:40] #209 closed

[2019-04-16 09:40] #193 closed

[2019-04-16 09:54] kamijin-fanta commented on #229
thanks! fix in v3.6.1. https://github.com/react-icons/react-icons/releases/tag/v3.6.1

[2019-04-16 09:54] #229 closed

[2019-04-16 09:56] kamijin-fanta commented on #220
fix in v3.6.1. https://github.com/react-icons/react-icons/releases/tag/v3.6.1
try it!

[2019-04-16 09:56] #220 closed

[2019-04-16 15:28] wKovacs64 opened #230 "[3.6.1] error TS2306: File 'node_modules/react-icons/index.d.ts' is not a module."
**Describe the bug**

Upon attempting to update react-icons from v3.6.0 to v3.6.1 in a Gatsby TypeScript project, I am met with the following error:
[code]
The line of code that triggers this build-time error is:
[code]

**Minimal sample repository**

Not minimal, but I first ran into it in https://github.com/wKovacs64/pwl/pull/55.

Let me know if a minimal reproduction would be more helpful and I

[2019-04-16 16:30] Slapbox commented on #228
@kamijin-fanta what browser did you test in? The sample doesn't work for me in Chrome or Firefox on Windows.

[2019-04-16 16:52] Slapbox commented on #227
I've simply excluded react-icons from my DLL generation due to time constraints, but if anyone else runs into this, they at least have a starting point for their issue here.

[2019-04-16 16:56] paustria commented on #228
@kamijin-fanta To make svg complying with accessibility, the `title` tag has to be a child of the `svg` tag.
In your example, it has to be
[code]

The reader won't read prop `title` on `svg`. I tested based on this tool. https://www.nvaccess.org/.

My current work around is I'm using `material-ui` icons with `titleAccess` props. https://material-ui.com/style/icons/#semantic-svg-icons

https://gith

[2019-04-17 05:38] deejaygeroso commented on #230
@wKovacs64 I have react-icons v3.2.2 and still the same issue

[2019-04-17 05:47] deejaygeroso commented on #230
@wKovacs64 I guess you are right. But it's still worth checking.
I've been testing those version. Then I ended up downgrading to v3.4.0 as of now.

[2019-04-17 10:14] silvenon commented on #110
For those looking to migrate away, you can fairly easily roll your own icon system with `<symbol>`, copying code from [IcoMoon](https://icomoon.io/): https://gist.github.com/silvenon/47857d019ed1fd0c032471604d0c0f53

[2019-04-18 00:08] danieli45 commented on #67
thanks!

[2019-04-18 02:58] kamijin-fanta commented on #228
@paustria  I did not recognize the problem correctly. I think this should be supported. thanks.

[2019-04-19 22:13] paustria commented on #228
@kamijin-fanta I created an above PR for this since there is no one working on it yet. Please code review if it looks OK for you. Please also update `README.md` if it gets merged. Since it's in `.gitignore`, I can't update it in this PR. Thank you for considering.

[2019-04-20 00:21] deejaygeroso commented on #230
I tried it again this morning went and checkout my working branch then the error message shows up again on v3.4.0 and I realized might as well use a different package instead

[2019-04-22 12:47] Akash91 commented on #154
Bohot HARD ! 👍

[2019-04-24 17:28] bsr203 commented on #230
hi. I see `index.d.ts` is empty with just one comment

package version
  "name": "react-icons",
  "version": "3.6.1",

I workaround by importing directly like

[code]

[2019-04-25 16:48] paustria commented on #228
@kamijin-fanta Is there anyway we can get this PR https://github.com/react-icons/react-icons/pull/231 merged? I haven't finished migrate my projects to `material-ui`. If this PR is in, I don't need to migrate them. Please let me know. Thank you!

[2019-04-29 20:40] wKovacs64 commented on #230
Any thoughts on this, @kamijin-fanta?

[2019-04-30 16:53] nhsiehgit commented on #230
Also seeing this issue.
I've just untyped the module for now

[2019-05-03 07:08] spider58 opened #232 "Change Icon border bold without change icon size"
Hi

I need more bold border with icons without change defautt size(1em)

I tried style = { border:3 } doesn't worked

[2019-05-06 22:54] eutopian commented on #230
You can import directly from lib

`import { IconContext } from 'react-icons/lib';

seems like the `outDir` was changed here https://github.com/react-icons/react-icons/commit/97bf4190b0af0e8647dc8352d7664d9410c888ec#diff-42f7fc395ef36833bbad8a64787eea19R3

[2019-05-07 20:08] exogen commented on #230
Looks like this is causing issues for non-TypeScript users as well. The issue is that the second `package.json` in `lib` approach, while interesting, is compatible with webpack's resolution algorithm but not Node's (or, it seems, TypeScript).

So if you do server side rendering and `import { IconContext } from 'react-icons'` it will fail during SSR, but work fine if you do it only in your webpack

[2019-05-10 01:58] kamijin-fanta commented on #230
I will try to fix. please wait a moment.
Changes to package.json should fix it.

[2019-05-10 06:11] kamijin-fanta commented on #230
please try react-icons@3.7.0.

[2019-05-10 06:51] exogen commented on #230
Not sure about TypeScript, but the Node SSR case is still an issue on 3.7.0 – I can make a separate issue for that if it's preferable.

[code]

Could potentially be the cause of this too: https://github.com/react-icons/react-icons/issues/227

[2019-05-13 07:45] YannDuv commented on #228
Is there any progression on the validation of this merge request please ? ⌛️ 💥

[2019-05-14 04:56] paustria commented on #228
@YannDuv This should be in 3.7.0. https://github.com/react-icons/react-icons/pull/231 It was merged 4 days ago. I think @kamijin-fanta  forget to tag it. I just update it and see the changes now. Please let us know if it doesn't work.

@kamijin-fanta Thank you for fixing and merging. Could you please close this ticket?

[2019-05-14 06:21] YannDuv commented on #228
And it works like a charm. Thank you 🙇

[2019-05-14 14:46] realfresh commented on #154
For anyone using typescript, if webpack tree shaking is not working and all icons are being imported even with the new `import { FaTimes } from "react-icon/fa"`.

You need to make sure that in your `tsconfig.json`, you must have the following options set:

`
"module": "es6",
"target": "es5"
`

If you are using commonjs for module, webpacks tree shaking will not work. Nearly blew my brains out on t

[2019-05-15 01:40] kamijin-fanta commented on #228
sorry.

this issue fix in v3.7.0.
https://github.com/react-icons/react-icons/releases/tag/v3.7.0

[2019-05-15 01:40] #228 closed

[2019-05-15 08:43] neomusic opened #235 "'react-icons' module not found on server-side"
I tried to implements this package on my NextJs project, but with latest version of react-icons the package is not found on server-side.
With 3.2.2 version it works.
I noticed a little difference between 3.2.2 and 3.7.0. The index.mjs is missing. Is related?

NextJs: 7.0.2
React: 16.4.2
Node: 10.14

[2019-05-15 17:07] paustria commented on #232
@spider58 Could you please clarify what you mean? Normally, if I want the bold border I just put it in another `span` tag. Do you mean `stroke`?

For example
[code]

[2019-05-15 22:50] Slapbox commented on #154
The things that worked for me in `React-Icons@3.5` no longer work for me in newer versions, nor does anything else in this thread or that I've found anywhere on the web. =/

[2019-05-18 09:14] Delkathes commented on #235
How weird. My Next app was running on dev script. I installed 'react-icons' package. Hot reload implemented it. I got my icons displayed while I was working. But suddenly, after a page refresh or a npm run script refresh, I lost them and the app just couldn't find 'react-icons'

[2019-05-18 11:53] aman1106 opened #236 "FaMugHot icon is not exported"
**Describe the bug**
I am trying to import FaMugHot icon but it says 'FaMugHot' is not exported from 'react-icons/fa';
Other icons are working fine.

**Expected behavior**
Should have rendered the icon component

**Additional context**
Attempted import error: 'FaMugHot' is not exported from 'react-icons/fa'.

[2019-05-20 17:45] 0str1ch commented on #235
I can confirm this behavior, as well. I believe it has something to do with IconContext.Provider.

[2019-05-20 23:35] jlu24 commented on #236
I am having the same issue but it happens when I try to make a new import of the react-icons library (starting from scratch). I believe this has been an issue since the last commit since it has failed 1/2 checks when updating TypeScript... I double-checked to make sure if I guessed correctly by testing the import with [RunKit](https://npm.runkit.com/react-icons); the result was an error...

[2019-05-28 15:29] adriendillens commented on #154
I've read all this thread, and i still don't know how to import only needed icons !

I'm using create-react-app without eject.
I'm using 11 game icons & 6 font awesome : here is my bundle size :'(

![npm run build](https://user-images.githubusercontent.com/13335502/58489402-85ee9500-816b-11e9-94ef-82d37f4d7339.PNG)

@kamijin-fanta  I don't know how to add '.mjs' to resolve.extensions
I saw demo pr

[2019-05-28 15:35] TrySound commented on #154
The magic happens here
https://unpkg.com/react-icons@3.7.0/fa/package.json
You should import icons like here
[code]
mjs is abandoned because of opinionated webpack resolve.

Also check please size with something like `ls -la`. Don't know about cra but from the thread looks like webpack is lying.

[2019-05-28 16:48] adriendillens commented on #154
@TrySound Thanks for you fast reply
My bad !
I have an : import * as GameIcons from "react-icons/gi"; somewhere in my code (to be able to dynamically render icons).

So now, i understand why my bundle size was huge ^^

[2019-05-28 16:52] TrySound commented on #154
Probably webpack problem. Rollup expands namespace import into simple named import according usage.
[code]
becomes
[code]

[2019-05-30 06:41] exogen commented on #235
See comments here: https://github.com/react-icons/react-icons/issues/230#issuecomment-490236294

It's because of the double-`package.json` approach that react-icons uses, which is supported by webpack but not Node.

[2019-05-30 16:04] ronaldroe commented on #236
Several of the Font Awesome icons are missing. `FaCircleONotch`, `FaTimesCircleO`, and several others I've tried throw the same error. I've looked at the `index.js` in the `fa` folder, and they are in fact not exported. I'm guessing they either got missed, or maybe deliberately omitted during one of the recent updates...?

[2019-05-31 16:08] cereallarceny commented on #104
Can we get an answer on this actually?  I'm rather curious, too.

[2019-06-01 23:01] sandinosaso commented on #154
Hi, ✋I can not make react-icons be tree shaking this has been really frustrating 😭for me I have spent many hours trying approaches I found in this thread with no luck.

I am using react-icons 3.7.0 and webpack 4

1) Have tried the recommended way:

[code]

2) Also tried directly import the .esm definition:

[code]
When using esm I added '.esm' to the resolvers in webpack before the 'js'.

1) Produ

[2019-06-01 23:06] TrySound commented on #154
@sandinosaso Did you check the size on disk? Analyzers may lie. You also don't need to add `esm` as a special case. It's not an extension. It's just `index.esm.js` and it's resolved by default this way.

[2019-06-01 23:35] sandinosaso commented on #154
I @TrySound thank for the fast response.
I can confirm the size is big by looking at the file size of the chunk that contains the import to react-icons.
<img width="598" alt="Screen Shot 2019-06-01 at 7 34 00 PM" src="https://user-images.githubusercontent.com/466105/58754714-768d8580-84a4-11e9-9550-d11ec8fa0fd3.png">

You can see `14.chunk.js` is insane big (75% of that is react-icons) all my othe

[2019-06-02 01:37] sandinosaso commented on #154
Could not make it work, I tried all that is said here with no success.

[2019-06-14 17:30] hwangar commented on #235
Same here... if it helps last version usable is 3.6.0: 3.6.1 crashes and I confirm too it's sth with IconContext.Provider

[2019-06-15 12:56] Zyclotrop-j commented on #154
I'm using dynamic imports (webpack's `import(...)`) and am trying to get webpack to bundle each icon individually, but without success. I'd like to target each icon as an individual file (`import("react-icons/"+lib+"/"+icon)`) to have webpack pick up on that. In other words, I can't use automatic tree-shaking and need to have manually. Any ideas on how to approach this without each file being indi

[2019-06-19 14:30] yairEO opened #238 "Custom icons support"
I would like to use my own SVG icons and them **only**.

Is that possible?

[2019-06-25 20:25] owap commented on #154
Has anybody had any luck yet getting v3 to produce reasonable bundle sizes with Parcel?  We're stuck back on 2.2.7 because it's the only way we've been able to cherry-pick icons into our bundle; including an icon from v3 brings in the entire collection of related icons (md, fa, etc.).

[code]

This one statement grows our bundle to be larger than all of `@material-ui/core`!

![image](https://user-

[2019-06-25 20:37] TrySound commented on #154
@owap Is this what webpack bundle analyzer shows you or real bundle size on disk?

[2019-06-26 15:45] owap commented on #154
@TrySound The analyzer matches the size on disk:

<img width="516" alt="image" src="https://user-images.githubusercontent.com/8496383/60194613-add32600-9807-11e9-98a2-45bb5b5a73ec.png">

<img width="489" alt="image" src="https://user-images.githubusercontent.com/8496383/60194715-dbb86a80-9807-11e9-9ade-7ef770ae302e.png">

[2019-06-26 16:00] TrySound commented on #154
The weird thing is that md.js is a way smaller. Only 400kb and not even minified.
https://unpkg.com/react-icons@3.7.0/md/

Also @kamijin-fanta displayName can be a problem for treeshaking. It also increases bundle size.

[2019-06-26 17:01] owap commented on #154
@TrySound Yeah `md` clocks in at 379.77KB in the bundle; I'm just showing that the total bundle size reported matches what's on the disk (which includes the md package)

[2019-06-27 16:17] harrysolovay commented on #154
Any movement on this? I tried every approach mentioned in this thread––still experiencing the following... `react-icons` alone accounts for roughly one fourth of the bundle size:

![Screen Shot 2019-06-27 at 9 16 18 AM](https://user-images.githubusercontent.com/4893548/60282664-5773ef00-98bc-11e9-90bb-0876ef41d7f5.png)

[2019-06-28 09:08] tejovanthWork commented on #154
Ditto! `react-icons` is 33% of my entire build!!

[2019-06-30 10:25] tarunmangukiya opened #240 "Add Unicons?"
Can anyone add https://iconscout.com/unicons?

[2019-06-30 12:22] richtera commented on #154
This is still not working for me either. Has anyone gotten this to work with 3.7.0 and webpack and the .esm.js import? All I get is:
[code]

[2019-07-05 19:45] cyrus-za commented on #238
If you using [CRA](https://github.com/facebook/create-react-app) you can use:
[code]

If not using [CRA]() you can follow [this](https://www.robinwieruch.de/react-svg-icon-components/) guide to setup [webpack](https://webpack.js.org/)

[2019-07-07 04:56] yairEO commented on #238
No CRA nor Webpack.

[2019-07-07 05:25] rashedxyz opened #243 "How to put the icons inside a loop?"
How to put the icons inside a loop which takes the icon name from json file?

[2019-07-17 14:04] kumarharsh opened #244 "Wifi-Slash icon disappeared on updating to 3.6.1"
**Describe the bug**
I'm using the react-icons library for quite some time, and I upgraded recently to the latest version. I found that one of the icons (`FaWifiSlash`) disappeared from the exported icons. It was there in the `3.6.0` version, but not there in `3.6.1`.

**Minimal sample repository**
Go to this sandbox: https://codesandbox.io/s/bold-star-y3efp
Now, in the sidebar, under the dependen

[2019-07-18 18:54] JoolianGarcia opened #245 "Is it possible to add themify icons to this? Unclear as to how this would be done."
Hey all,
I am a big fan of the themify icons (https://themify.me/themify-icons) and I've designed a site that uses them. I'm currently implementing the design into gatsbyjs and would love to the same icons via this package...
Just wondering how I could go about doing that?

Willing to add them myself, just need some guidance.

[2019-07-19 04:16] AslamPangestu commented on #235
I have the same issue to. But, first i have trouble with styled-component when first render is not applied. when i use this tutorial, it's work
https://dev.to/aprietof/nextjs--styled-components-the-really-simple-guide----101c

[2019-07-23 16:34] kimbaudi opened #246 "Question: Is it possible to reference icons in sass file?"
Hi, I would like to be able to use the icons in a sass file with the ::before and ::after psuedo selectors.

[code]

[code]

Is this possible with react-icons? Or I can only use react-icons in JavaScript and need an alternate way to use font-awesome in sass?

[2019-08-08 06:42] auderer commented on #215
What would it take to get this added?

[2019-08-08 20:15] hanzhihua72 commented on #154
Hi everyone,

I'm using gatsby.js, and importing the following as:

`import { IoIosHeart, IoIosChatbubbles } from "react-icons/io/index.esm"`

and running `gatsby build`

![image](https://user-images.githubusercontent.com/43427025/62734328-fc1e3c00-b9e5-11e9-840e-9cc897c05078.png)

works perfectly as expected.

In `gatsby develop` mode, you may see the tree shaking not working properly. maybe the

[2019-08-15 20:22] Slapbox commented on #154
You can't trust the analyzer for `React-Icons` as of last time I checked. It tells you it may be inaccurate. You need to confirm it either on disk, or by manually examining the bundle for the contents of those files.

[2019-08-18 11:13] vallerion opened #248 "Cannot find module '/app/node_modules/react-icons/lib'. Please verify that the package.json has a valid "main" entry"
**Describe the problems**
hi guys, i use react + next.js@9.0.2, react-icons@3.7.0, after update next 7 -> 9 version i got error while build:
`Error: Cannot find module '/app/node_modules/react-icons/lib'. Please verify that the package.json has a valid "main" entry
    at tryPackage (internal/modules/cjs/loader.js:228:19)
    at Function.Module._findPath (internal/modules/cjs/loader.js:365:18)

[2019-08-19 14:40] dianasalsa commented on #154
In case anyone has the same issue:

I had the problem that the bundle size suddenly blew up, after it had worked without issue for many months. After looking at various solutions mentioned here, I finally noticed that my IDE (Webstorm) had rewritten one of the import paths during refactoring (when moving the file to some other directory):
`import {FaCaretDown, FaCaretUp} from 'react-icons/fa/index

[2019-08-22 15:07] MovingGifts opened #249 "SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode."
**Describe the bug**
In iOS9 on an iPad, when opening the app we get a blank white page. When inspecting console, we see the following error:
`SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.`

**Minimal sample repository**
None, just access using iOS9 device and app will not load and it will console log the error above.

**Expected behavior**
App loads

[2019-08-23 15:43] shatodj commented on #235
The same here trying to work with Parcel bundler compiling my server.ts :(

[2019-08-25 19:45] MovingGifts commented on #249
Bump - Any idea team?

@gorangajic @jayehmke @JeffersonFilho @kamijin-fanta

[2019-08-28 20:03] buob opened #250 "Question: Best way to use this with Material-UI (v4)?"
Before you dismiss this as a "how do I use a computer" question 😅, I've used this project's icons in [material-ui](https://material-ui.com/) in v3, and upon upgrading to v4, I've realized there is no prescribed way in either project on how to use one with the other (despite this coupling being very common I'd imagine).

**Mainly**, there looks like there is a way to pass in an svg, or use a font i

[2019-08-29 09:36] jazkh commented on #154
Is there any update related to this issue? I am also seeing large bundle size.

[2019-08-29 17:47] MovingGifts commented on #249
@kamijin-fanta any idea?

[2019-08-30 20:01] urlchange opened #251 "Gradient colors"
**Describe the bug**
How can I set a gradient color instead of a solid color? Is it possibile?

I tried:

[code]

But it didn't work.

Thanks for your time.

[2019-09-02 18:11] novonimo commented on #248
Make sure you are importing correct icon name  from "react-icon"

It looks like you imported correct icons in this code snippet but checks your all importing expression.

[2019-09-03 05:51] LostChrs commented on #249
I have the same error when using some old version webview

[2019-09-06 11:57] Shadowman4205 commented on #236
FaBabyCarriage has same issue

[2019-09-09 06:51] RgtArRr commented on #154
I recently use the this `3.7.0`, I run `webpack-bundle-analyzer` and has the same issue, BUT only in development bundle, when I run the production bundle `--mode production`, the results `index.esm.js `is not a big deal(around 10kb).
So I think thats it, just dont pay attention on that, only on production bundle

[2019-09-09 10:32] Pelirrojo opened #253 "Ask for a new open source icon library: EVA Icons"
I would like to use this library: https://zakveo.github.io/eva-icons/#/?type=outline

Anyway, thanks for a great job!

It's really an improvement to include only a package with the most relevant and used libraries icons for your react app in a easy way.

[2019-09-09 21:30] vpzomtrrfrt commented on #253
This link seems to be dead?

[2019-09-09 21:35] vpzomtrrfrt commented on #201
See google/material-design-icons#786, the upstream repository hasn't been updated recently

[2019-09-10 10:47] Pelirrojo commented on #253
Yes, really it's an option in the web (two way of view the icons: outlined or filled)

* Site: https://akveo.github.io/eva-icons/
* NPM: https://www.npmjs.com/package/eva-icons
* Github Repo: https://github.com/akveo/eva-icons

The latest commit was in July of this year, so I think the project it's alive.

[2019-09-11 19:20] maslade commented on #154
@RgtArRr `--mode production` enables `optimization { useBuiltIns: true }`, which is what turns on tree shaking behavior. `--mode development` should produce `unused harmony export` hint comments in the generated bundle, but it doesn't actually remove those unused exports.

Also, if this helps anyone, in my case tree shaking was failing due to `babel-preset-env` being configured with `modules: 'com

[2019-09-26 20:39] FabianoLothor opened #255 "Invalid React Properties"
**Describe the bug**
Invalid React Properties on Render

**Expected behavior**
Render without warnings

**Screenshots**
![image](https://user-images.githubusercontent.com/2192995/65723274-77b27600-e084-11e9-82c2-eeaaa3b77f3e.png)

![image](https://user-images.githubusercontent.com/2192995/65723360-9fa1d980-e084-11e9-949a-8b4a3b59fbc8.png)

**Desktop (please complete the following information):**

[2019-09-27 10:51] pavinduLakshan opened #256 "Add search bar to online documentation"
**Is your feature request related to a problem? Please describe.**
It is very hard, painful and time consuming to search for an icon in the docs. If I want to look for an icon, I need to manually go through each and every icon in the web page as there is no search bar in the page.

**Describe the solution you'd like**
Adding a search bar to the online documentation https://react-icons.netlify.com/

[2019-10-01 02:06] gorbs commented on #256
Haha! I've got a pull request sitting for that very thing: https://github.com/react-icons/react-icons/pull/254
Can't see how to add reviewers for it.

[2019-10-01 23:58] wallaceturner commented on #105
adding `className="fa-spin"` did not work so I added the fa-spin to my own CSS

[code]

[2019-10-05 18:37] Bernstein7z commented on #219
+

[2019-10-05 23:03] drixie commented on #158
Thanks for the great work.

Could you please add this to the documentation? Took me like 10 mins to find this lol.

[2019-10-06 22:16] gorbs commented on #238
I don't think that's what this module is really about. Perhaps [this article](https://blog.lftechnology.com/using-svg-icons-components-in-react-44fbe8e5f91) or [this module](https://github.com/gilbarbara/react-inlinesvg) can get you on the right path.

[2019-10-08 22:35] gorbs opened #257 "Travis-ci build failing"
**Describe the problems**
The Travis-ci build is failing. Some where between building pull request #241 and #247 it looks like yarn was updated from v1.3.2 to v1.15.2 and it is now spitting out following errors.

Last working build: [194](https://travis-ci.com/react-icons/react-icons/builds/129366055).
Failing from build: [195](https://travis-ci.com/react-icons/react-icons/builds/129366240).

**Ex

[2019-10-09 13:51] kimbaudi commented on #246
closing this issue since there is no response

[2019-10-09 13:51] #246 closed

[2019-10-10 00:28] fandy opened #258 "Add line-awesome"
https://icons8.com/line-awesome is essentially fa but looks more modern. It's also lined vs filled. Would be a great add.

[2019-10-12 14:07] flexlee commented on #248
Did you use <IconContext> to wrap around the icon? I had similar problem but I forgot the <div> between the <IconContect.Provider> and the <Icon>, like in the doc. Having the <div> solved the problem.

[2019-10-18 10:33] AndersDJohnson opened #259 "docs: typo FaLinkedinIn"
**Describe the bug**
Docs say `FaLinkedinIn`.

**Minimal sample repository**
https://react-icons.netlify.com/#/icons/fa

**Expected behavior**
The icon appears to actually be named just `FaLinkedin`.

**Screenshots**
![Screen Shot 2019-10-18 at 5 31 38 AM](https://user-images.githubusercontent.com/615381/67087530-b78ee980-f168-11e9-8ba9-2d9521b4d591.png)

[2019-10-21 20:25] cardimajs opened #260 "Add new icons"
Hi awesome project

How can i add my icons? Any documentation?

Thanks!

[2019-10-21 21:02] cardimajs commented on #260
is just add git submodule and add it o index.js file?

and if i have colored svg icons?

[2019-10-24 20:24] #260 closed

[2019-10-25 08:07] cardimajs opened #263 "Multi Color Icons"
Hi,
When i try to import multi colored icons like https://github.com/icons8/flat-color-icons

I get a single color icons:
![image](https://user-images.githubusercontent.com/5782144/67554185-3e9e0d80-f6e5-11e9-8cf6-dc1bd91c4c17.png)

is possible to get colored icons?

Thanks!.

EDIT!!!
After changing the source code i can get multi colored icons working
![image](https://user-images.githubuserconten

[2019-10-25 09:51] kamijin-fanta commented on #257
thanks!
fix in https://github.com/react-icons/react-icons/pull/262

[2019-10-25 09:51] #257 closed

[2019-10-31 23:41] harshzalavadiya opened #265 "Improvements in documentation, SSR"
**Describe the issue**
Some days ago I submitted PR for New UI for documentation, I think using Gatsby or Nextjs might be useful for boost in SEO due to SSR + performance etc. I'm happy to do it, so is it okay if I create PR

plus off-topic suggestion, consider accepting donations so react-icons can have good domain associated instead of netlify subdomain ✨

[2019-11-04 13:43] deadcoder0904 opened #267 "Add "No Results Found" when no icons are available"
If I search for `gym`, it gives no results but it isn't clear since there is no visual indicator aside from waiting a long time.

A simple text would be much more helpful :)

[2019-11-06 13:08] Shadowman4205 commented on #236
FaBaby has same issue

[2019-11-06 13:14] Shadowman4205 commented on #236
@kamijin-fanta Is this gonna be fixed?

[2019-11-06 13:42] kamijin-fanta commented on #236
What version are you using? It seems to be importable.
Current package version is `react-icons@v3.8.0`.

![image](https://user-images.githubusercontent.com/1541187/68302194-ddaf0600-00e4-11ea-86e4-074868e338ae.png)
https://react-icons.netlify.com/

and...
`TimesCircleO` does not exist in fa5.
https://fontawesome.com/icons?d=gallery&q=TimesCircle

[2019-11-07 05:30] aman1106 commented on #236
Now I am using version 3.7.0 and it is working perfectly fine. Earlier when I raised issue it was version 3.4.0 in which it was giving error.
@kamijin-fanta Thanks for resolving and update.

[2019-11-07 05:33] #236 closed

[2019-11-26 01:38] admehta01 opened #271 "react-icons + create-react-app = large sourcemap file"
**Describe the problems**
Large source map file (9MB) when using react-icons w/ create-react-app. Tree shaking works fine in the final build, but wondering if sourcemap file can be smaller too. I'm not sure if this is just the nature of the sourcemap file with react-icons, or if it can be "fixed".

**Minimal sample repository**
Here's how I'm importing the icons:
[code]
If I remove the Gi3DStairs

[2019-11-26 21:12] Slapbox commented on #263
I like this a lot. @kamijin-fanta are there any downsides to enabling this on the `master` branch??

[2019-11-26 22:14] Catchwa opened #272 "New Icon Library: Bootstrap Icons"
Just released here:
https://github.com/twbs/icons
MIT licensed

[2019-11-27 01:35] kamijin-fanta commented on #263
Good idea! Is it possible to submit a PR?

[2019-11-27 09:23] olaj commented on #235
Same here. Is there any workaround for this? Guess i will survive without this feature though.

[2019-12-05 22:19] alukaszew commented on #154
I think that 10 or in my case ~19 kb is VERY much for a one icon in bundle. IMO the problem is big export file not icon code... Each icon from collection should have different undepended export. This should solve the problem for sure. To prove this I've manually deleted all lines with imports that I'm not using in my component, BANG! from 19kb to 266b.

[2019-12-07 22:38] schnerd commented on #235
Minimal reproduction:
https://github.com/schnerd/react-icons-issue

Running `require('react-icons');` in node.js throws a fatal error. Requiring individual icons works fine, so it seems like this only affects developers who need to import top-level things like IconContext or Typescript types during server-side rendering.

@exogen's hypothesis in https://github.com/react-icons/react-icons/issues/23

[2019-12-08 15:20] neomusic commented on #235
I created a pull-request to solve this issue. I hope it is accepted

Check out my [PR](https://github.com/react-icons/react-icons/pull/273)

[2019-12-08 22:45] rodperottoni opened #274 "[Demo Website] Crash when typing "Fau""
**Describe the bug**
Typing "Fa" followed by the letter "U" on the search box will crash the demo website 🤔

**Expected behavior**
Being able to type "FaU" ?

[2019-12-09 08:57] alukaszew commented on #154
@kamijin-fanta, is there any update or the project will be abandoned, because I don't see any reason to use libary that injecting to my bundle like 10-20kb more any time when I'm importing something. I solution that I've posted is good direction ? I need an answer because I need to decide where I'm going with my project...

[2019-12-09 13:02] Lemaro86 commented on #274
If I typing  "def" - too cathc crash

[2019-12-09 17:41] aepyornis commented on #235
I was able to fix the issue importing `IconcContext.Provider` by simply adding **/lib** to the import statement.

` import { IconContext } from "react-icons" ` fails with the error _Cannot find module 'node_modules/react-icons/lib'. Please verify that the package.json has a valid "main" entry_

Importing IconContext from react-icons/lib worked for me:

[code]

[2019-12-09 23:43] Slapbox commented on #154
@alukaszew the project is not abandoned, but it is open source and free. Sometimes things break and they don't get fixed right away. It's not a binary situation of you get an update or the project is literally abandoned.

[2019-12-11 20:52] harshzalavadiya commented on #265
I guess project needs more maintainers
Maybe moving now.sh might be very good idea because of SSR and able to fully utilise dynamic paths/on demand icons

[2019-12-15 02:24] SrMouraSilva opened #276 "AiOutlinePlus causes a warning (invalid attribute)"
**Describe the bug**
When I use `AiOutlinePlus`, the react warns that the svg contais a `pId` tag that it does not recognize.

**Minimal sample repository**
https://codesandbox.io/embed/objective-chaum-g0mw7?fontsize=14&hidenavigation=1&theme=dark

**Expected behavior**
This error/warning doesn't show.

**Desktop (please complete the following information):**
 - Device: PC
 - OS: Ubuntu
 - Browser

[2019-12-15 02:24] SrMouraSilva commented on #276
Similar to #255

[2019-12-21 07:56] #265 closed

[2019-12-21 09:47] devadattas commented on #276
+1

[2019-12-23 14:16] heuristicAL opened #277 "New icon library: CSS.gg"
How complex would it be to add https://css.gg to the available icons?

It is MIT licensed :)

[2019-12-28 02:10] abuuzayr commented on #259
@AndersDJohnson this is not an error. There are two icons: **FaLinkedinIn** and **FaLinkedin**.

![image](https://user-images.githubusercontent.com/19371989/71537668-3f0f8a80-295a-11ea-87b4-72143b14f7ad.png)

I tested them both as well with the current version 3.8.0 and they work fine.

![Screenshot 2019-12-28 at 10 06 10 AM](https://user-images.githubusercontent.com/19371989/71537662-2b642400-295

[2019-12-28 02:19] abuuzayr commented on #277
Probably not complex but this is an SVG library and CSS.gg is a CSS icon library. You can use css.gg directly or use the API to conditionally add required icons only.

[2019-12-28 03:51] abuuzayr commented on #276
Here is the SVG markup that is added:

[code]

and the original from [ant-design-icons](https://github.com/ant-design/ant-design-icons/blob/ec3bc333811c090b63e498d72b30c44e8695b945/packages/icons/svg/outline/plus.svg):

[code]

However, if we use @ant-design/icons directly, we have no such issue or no pId at all: https://codesandbox.io/embed/mystifying-lovelace-bj44g?fontsize=14&hidenavigation=1&t

[2019-12-28 05:32] #259 closed

[2019-12-28 09:37] abuuzayr commented on #274
yes I can confirm this is happening at least for `def` and `fau`.

I launched the docs in both development mode with `yarn serve` and also ran `yarn build` and served the distribution files and both were working ok.

Could there be something broken / incorrect settings when deploying to Netlify? It even looks broken:

![8AAD3EF5-2C46-4557-A7CB-2C34295A70AB](https://user-images.githubusercontent.co

[2020-01-09 17:00] jacobhixon47 commented on #235
Can confirm this issue is still happening, and that the above solution of appending `/lib` to the react-icons import works for me as well.

A little worried that when a fix gets merged, it'll break the `/lib` workaround, but I'll cross that bridge when I get there I suppose.

[2020-01-11 16:41] dubble-G opened #281 "Icon Updates"
How often do you update react-icons to pull in new icons that may have been added?  For example, here is a free font awesome icon that you all are not currently pulling in that I would like to use via react-icons:

https://fontawesome.com/icons/caravan?style=solid

[2020-01-12 23:11] tromgy opened #282 "Stroke-based icons are not supported"
**Describe the bug**
I wanted to add [Predix Design System](https://www.predix-ui.com/#/elements/px-icon-set) icons, but have run into problems because those icons are all stroke-based, and those types of icons are either render incorrectly, do not render at all, or even cause a crash in some cases. It appears that all currently available icons in this package are fill-based.

**Minimal sample rep

[2020-01-15 22:00] azizcoban opened #283 "Error: Cannot find module '/home/aziz/Desktop/testapp/node_modules/react-icons/lib'. Please verify that the package.json has a valid "main" entry"
When I trying to compile the app everytime I get this error even if all the packages are updated and exist. How can I solve this problem ?

**Here is my component**
[code]

**My package.json file**
[code]

**Additional Note**
I always get this error when I added the IconContext.Provider tag.

**Errors**
[code]

[2020-01-25 17:51] matthova commented on #238
I'd love to figure out a way to extend this library and pass in a path to a custom svg.

imagine something like this
[code]

Will try poking around at the idea this weekend 🤔

[2020-01-26 05:51] matthova commented on #238
This is a bit more brute-force than I'd like, but I'm hoping the process will be one of those "set it and forget it" so for now, this will do.

<img width="1094" alt="Screen Shot 2020-01-25 at 9 50 33 PM" src="https://user-images.githubusercontent.com/4811753/73131263-c2a1b300-3fbc-11ea-93aa-7d576155205e.png">

Here are the steps
1. Start with a [raw svg](https://raw.githubusercontent.com/matthova

[2020-01-27 15:37] anhek commented on #243
Hi, did you found a way to use icons in a loop ?

[2020-01-30 01:52] #267 closed

[2020-02-05 14:34] IPR-Kaspar commented on #154
2020 February. I have imported fa icon - got 1.25MB bundle expansion production build 👍

[2020-02-05 15:36] antoinerousseau commented on #154
@IPR-Kaspar we are all waiting for your PR ;)

[2020-02-14 11:43] mildfuzz opened #286 "Issue running tests with ts-jest"
**Describe the problems**
getting the following error when running tests:
[code]

My config looks like
[code]

my tsconfig looks like:
[code]

[2020-02-14 15:56] mildfuzz commented on #286
solved in `tsconfig.json` with:
[code]

[2020-02-14 15:56] #286 closed

[2020-02-18 15:34] jrbytes commented on #67
import { FaPlusSquare } from 'react-icons/fa'
<FaPlusSquare viewBox='0 30 448 512' />

[2020-02-18 15:36] jrbytes commented on #67
Now
[code]

[2020-02-20 16:44] birutaibm opened #288 "Color bug when there is svg at the same component"
**Describe the bug**
If you have a component with an svg and some icon, that icon uses the svg fill property instead of their own color.

**Minimal sample repository**
https://github.com/birutaibm/react-icons-colors-bug

**Expected behavior**
The lock icon be blue (the same color of the text) instead of red

**Screenshots**
![Captura de tela de 2020-02-20 13-36-59](https://user-images.githubuserco

[2020-02-25 15:51] JithinKS97 commented on #154
I use react-icons extensively in my Meteor project and when I looked at the bundle visualizer, almost 8.77 MB is react-icons. Do we have a solution for this problem yet?

[2020-02-25 20:43] Slapbox commented on #154
@JithinKS97 are you 100% certain the analyzer is correct? It can be incorrect sometimes. When I ran into this case, I dove into my bundled code to find which icons were included, and found only those that I had expected, despite what the analyzer said. The analyzer will inform you about estimates that could be wrong. It's been a while and this advice may be out of date.

[2020-02-26 18:07] JithinKS97 commented on #154
@Slapbox  I tried replacing react-icons with react-icons kit and I observed the bundle size significantly reduced. I don't know if the analyzer is 100% correct. But anyway react icons was consuming majority of the bundle size.

[2020-03-03 21:56] joseph-vedadi opened #289 "The chunk is very big."
I wonder what is the most updated way to import icons ..
I only use 10 icons at most and the chunk size is very very big.

I wonder how could I optimize this .

[code]

[2020-03-04 05:35] joseph-vedadi commented on #289
![image](https://user-images.githubusercontent.com/17168374/75848382-ee237480-5d96-11ea-8afc-4871a2476c47.png)

[2020-03-04 15:17] hiperlouro opened #290 "The menu does not collapse on mobile"
**Describe the bug**
When opening in mobile device the menu does not collapse.

**Minimal sample repository**

**Expected behavior**
Upon selecting an icon set the menu should collapse.

**Screenshots**
![image](https://user-images.githubusercontent.com/3466596/75893724-2a081980-5e2b-11ea-98ed-13e5f2862a8e.png)

**Desktop (please complete the following information):**
 - Device: OnePlus 7Pro
 - OS

[2020-03-04 15:20] imarchit19 opened #291 "On Mobile, the menu doesn't collapse"
**Description**
While accessing the mobile site of react-icons.netlify.com, the menu hampers in readability of site.
There is no option to minimize/close it, only way is to go for Desktop Site.

**Expected behavior**
I feel the menu should be collapsible so that one can access the site without going for Desktop Site.

**Screenshots**
![bug_mobile_react](https://user-images.githubusercontent.com/31

[2020-03-04 15:32] wesbos commented on #291
Looks like the repo version does have a mobile menu. Maybe the netlify deploy isn't working?

![image](https://user-images.githubusercontent.com/176013/75895299-72134600-5e03-11ea-8a21-59802f125853.png)

[2020-03-04 19:56] wesbos commented on #290
duplicate of https://github.com/react-icons/react-icons/issues/291

[2020-03-05 02:47] joseph-vedadi commented on #289
Any help ?

[2020-03-11 08:59] kinavi commented on #235
I was helped by updating react-icons from 3.8 to 3.9

[2020-03-17 23:53] glinkot commented on #215
This is what I came by to see as well.  I've paid for pro, would be great to access them through this ;)

[2020-03-17 23:55] glinkot commented on #289
What actual size was the chunk in kb?

[2020-03-20 08:24] joseph-vedadi commented on #289
fa: 1.3 M
ai: 626kb
md: 409kb
fi: 133 kb
![image](https://user-images.githubusercontent.com/17168374/77146958-7ec1ac00-6a49-11ea-8851-ea108da4a859.png)

[2020-03-21 17:32] vojtaholik commented on #281
+1

Remix icons aren't updated as well.

[2020-03-23 15:22] akphi opened #294 "Upgrade to IonIcons v5"
Hi,

Thanks for making this super useful library (and the website as well :) ). I was just wondering if we could upgrade this to IonIcons v5 since it just came out and has many new good-looking icons over there. Let me know if I could help in some way.

[2020-03-25 01:25] joseph-vedadi commented on #289
any updates to fix this issue

[2020-03-25 07:59] makwelos opened #295 "Icon not available"
**Describe the bug**
FaHeartO Icon is not available on  fa module.

![image](https://user-images.githubusercontent.com/10923607/77514255-27736f80-6e7f-11ea-9d9d-91849bd11694.png)
![image](https://user-images.githubusercontent.com/10923607/77514358-5853a480-6e7f-11ea-9d49-e1550c2560c6.png)

[2020-03-25 20:35] plainspace opened #296 "Add VS Code icons"
https://github.com/microsoft/vscode-icons

[2020-03-28 21:57] micaeldias opened #297 "Documentation breaks on search"
**Describe the bug**
Searching "fau" in the documentation throws an exception "t is not a function"

**Minimal sample repository**
https://react-icons.netlify.com/#/search

**Expected behavior**
Icons with fau in the name should appear

[2020-03-29 10:11] brunosra opened #298 "Add Box Icons"
Hi all. Thanks for this great lib!
I'd like to suggest adding the Box-icons: https://github.com/atisawd/boxicons

It's a great icon lib with more than 1000 icons.

Thanks in advance!

[2020-04-03 07:14] olup opened #300 "Any reason why check circle outline is not present in Material Icons ?"
This is a very simple question / feature request. Material design has a CheckCircle and a CheckCircleOutline icon. React icons however only exports MdCheckCircle (the filled one). Other circle icons have both versions. Any reason why not CheckCircle ?

[2020-04-07 22:34] EricKit commented on #154
I'm using nextJs. I had `config.devtool = 'eval-source-map';` in my `next.config.js` under web pack. Removing this line fixed it.

[2020-04-12 10:33] ljayz commented on #79
Hello, this worked for me with the help from [stackoverflow](https://stackoverflow.com/questions/28300897/stacking-font-awesome-icons-within-svg)
[code]

[2020-04-12 10:59] kalwalt commented on #79
Thanks for the input @ljayz i will try it!

[2020-04-12 16:58] zRelux opened #301 "Name of this icon?"
I know this is a weird question but what is the name of this icon? [Icon](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F1393680%2Fequalizer_filter_filtering_refine_sort_sorting_icon&psig=AOvVaw2C7_5RmNKO9liF6VOKPdfz&ust=1586797037062000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCV4eCt4-gCFQAAAAAdAAAAABAD) I can't remember...

[2020-04-13 11:46] kalwalt commented on #79
@ljayz that worked perfectly! I have modified a bit for my needs, see the PR https://github.com/kalwalt/gatsby-starter-i18n-bulma/pull/121 Thank you! :smile: :tada:

[2020-04-20 14:52] moizgh opened #302 "Actual size (1391205) of tarball .../@fluentui/react-icons/-/react-icons-0.1.4.tgz) did not match the one specified in 'Content-Length' header (1651956)"
**Describe the problems**
failing consistently on package installation.

**Expected behavior**
installation should not fail

**Errors**
[code]

**Desktop (please complete the following information):**
 - Device: Hosted agent
 - OS: Windows_NT
 - Browser N/A
 - Version N/A

[2020-04-20 16:01] kenotron commented on #302
This is the wrong repo. The actual repo is here: https://github.com/microsoft/fluentui/

[2020-04-20 16:12] #302 closed

[2020-04-20 17:55] claweyenuk commented on #289
The issue is that for any imported icon libraries, all icons are imported.

We haven't dug into this, but ideally, only the icons that are used would be imported. Since we use <10 icons, we are considering putting the SVG's into a small library that we can use. But, it would be great if this isn't necessary to get the file size down.